<div class="container" style="background-color:#52BCED;padding-top:17px;padding-bottom:15px;margin-bottom:0px; ">
   
    
            
<div class="span11" style="padding-left:40px;background-color:#fff;border-radius:5px;border:solid 1px #6B9FC3;">

<div class="help_content">



 
     <div class="tabbable">    
                  	<ul class="nav nav-tabs">
                    	<li class="active"><a href="#concept" data-toggle="tab">コンセプト＆カップル成立の流れ</a></li>
                        <li><a href="#faq" data-toggle="tab">よくある質問</a></li>
                    </ul>
                    <div class="tab-content">
                    	<div id="concept" class="tab-pane active">
                        	<div class="help_title">コンセプト</div>
								<ul class="concept">
								<li><img src="/assets/number1_pink.png">あなたの<strong class="strong">プロフィールや趣味にマッチング</strong>した相手が訪れます。</li>
								<li><img src="/assets/number2.png">カップル成立には<strong class="strong">お互いの好意とモチベーション</strong>が必要です。</li>
								<li><img src="/assets/number3.png"><strong class="strong">毎日２枚</strong>の出会いカードがやってきます！</li>
								<li><img src="/assets/number4.png">一期一会のチャンスは<strong class="strong">２４時間！</strong></li>
								<li><img src="/assets/number5.png">自分から相手を探すことはできません。</li>
								<li><img src="/assets/number6.png">コンタクト方法</li>
								</ul>
                       
                    		<div class="help_title">カップル成立の流れ</div>
								<div class="rule">

									<p class="stage">ライクステージ</p>
<div class="flow"><span class="number">1. </span>カードをクリックして今日の相手を見てみましょう。</div>
<div  class="flow"><span class="number">2. </span>相手の「好感度チェック」をしましょう。</div>
<div class="reason">
<strong>「好感度チェック」をする理由</strong><br>
・将来的に、自分の好感度結果が確認できるようになる予定です。<br>
　あなたの好感度を客観的に見る目安になるでしょう。<br>
・好感度の結果が近いカードとマッチングする確率が高くなる？？</div>
<div class="flow"><span class="number">3. </span>気に入った相手がいたら、「Likeボタン」を押しましょう。</div>
<div class="text_s">　一日に選べるのは一人だけです。一度選択した後の変更はできません。</div>
<div class="flow"><span class="number">4. </span>お互いに「Likeボタン」を押したら[Like成立]で、コンタクトチャンスが生まれます。</div><br>
<p>　～アタックステージに進みましょう～</p>

<p class="stage space">アタックステージ</p>
<div class="flow"><span class="number">5. </span>気に入った相手とのコンタクトが欲しい！と思ったら、コンタクトチケットを購入します。</div>
<div class="text_s">　支払い方法について詳しくは<a>こちら</a></div>
<div class="flow"><span class="number">6. </span>お互い購入した場合、アタック成功となり連絡先の交換（コンタクト）ができます。</div>
<div class="text_s">　片方のみのアタックではコンタクトは成立しません。</div>
<p class="stage space">ファイナルステージ（アタック成功後）</p>
<div class="flow"><span class="number">7. </span>お互いの連絡先が交換されます。</div>

<div class="text_s">表示期間は次のカードが来るまでです！</div>
<div class="flow"><span class="number">8. </span>さあ、気になるあの人に連絡してみましょう！</div>
<!--<div class="text_s">ファーストコンタクトの際の注意点などは<a>こちら</a></div>-->
	</div><!--div rule--> 
<div class="to_top"><a href="#top">トップへ</a></div>        
                    		   
                        
                        
                        
                        
                        </div><!--concept&rule-->
                        
                        <div id="faq" class="tab-pane">
                        <div class="help_title" id="faq">よくある質問</div>

<div class="faq">
 <div class="accordion" id="accordion2">  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">  
                 アカウント登録条件を教えてください。 
                </a>  
              </div>  
              <div id="collapse1" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 20歳～39歳の（サービス対象エリアにお住まいの）方です。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">  
                  外国人も加入できますか？
                </a>  
              </div>  
              <div id="collapse2" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 日本に居住している外国人の方であれば、11amcafeをご利用いただけます。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">  
                  プロフィールの承認条件はなんですか？
                </a>  
              </div>  
              <div id="collapse3" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 11amcafeでは、主に以下の3つの内容を確認しています。<br>
		・キーワード・・・相手を不快にする言葉、悪口、個人情報などはNGです。<br>
		・写真・・・小さすぎる写真、過度の修整写真、集合写真、他人の写真等はNGです。<br>
		・エリアごとの男女比<br>
※キーワードと写真の数も承認条件に影響します。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">  
                 待機とはなんですか？
                </a>  
              </div>  
              <div id="collapse4" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 サービス対象となる男女比にバラつきがある場合、新規登録ユーザーの方に利用開始をお待ちいただくことがあります。
		その場合、より誠意あるプロフィール（キーワードや写真を含む）を作成していただいた方を優先させていただきます。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">  
                  どんなプロフィールキーワードを書けばよいでしょうか。
                </a>  
              </div>  
              <div id="collapse5" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 最も大切なことは「ありのままの自分」をキーワードにするということ。心を込めて「素直な自分」を表現すれば、良縁に出会える確率も上がるでしょう＾＾。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">  
                  どんな写真を使ったらいいですか？
                </a>  
              </div>  
              <div id="collapse6" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 まずは、自分自身がはっきり写っている写真であること。そして、あなたらしさが表現されていたら尚良いですね。
自分以外の誰かが写っているもの、11amcafeの趣旨から外れたものなどはもちろんNGです。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">  
                  プロフィールを編集したいのですが…？
                </a>  
              </div>  
              <div id="collapse7" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 画面右上にある「プロフィール」ボタンから「基本情報」と「キーワードと写真」が編集できます。
		その際、11cafeの利用が一時停止になり、再認証が必要になります。
                </div>  
              </div>  
            </div>
            <!-- <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">  
                  自分の情報が簡単に流れてしまわないか心配です。
                </a>  
              </div>  
              <div id="collapse8" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 「アタック」は相手に対する誠意とモチベーションを示します。<br>
　お互いが「アタック」することで、双方にとってより信頼できるシステムを実現しています。
                </div>  
              </div>  
            </div>-->
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">  
                  お互いがアタックしないとカップルになれないのはなぜですか？
                </a>  
              </div>  
              <div id="collapse9" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 アタックには「縁に対して少し慎重になる」、そして「相手へのモチベーションを示す」という目的があります。
誰彼かまわずアタックしてコンタクトをつなげることができたら、出会いの価値は下がってしまうでしょう。
アタックすることにより、相手とよりつながりたい気持ちを表しているのです。
それでは、片方のみアタックして、もう片方はレシーブだけすればいいでしょうか？
私たちは、好意を持ったお互いが積極的に歩みよることで、”縁”を”良縁”に変えたいと考えています。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">  
                  自分で相手を検索して探したいのですが…？ 
                </a>  
              </div>  
              <div id="collapse10" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 11cafeでは相手を検索することはできません。<br>
11amcafeは、誰かの目を気にすることなく新しい世界とつながれる場所です＾＾。
                </div>  
              </div>  
            </div> 
            
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">  
                 一度「Like」を選択したら、変更できないのですか？
                </a>  
              </div>  
              <div id="collapse13" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 残念ながら、一度選択すると変更ができませんので、選択する前によく考えてください。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">  
                プロフィールや写真に不適切な内容が含まれている人がいましたが、どうすればいいですか？
                </a>  
              </div>  
              <div id="collapse14" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 不適切な内容や行為があった場合には、「申告」ページから内容の報告をしてください。
				その際には、証拠資料として画面のキャプチャをおすすめします。程度がひどいと判断した場合、厳重な対処をします。
                </div>  
              </div>  
            </div> <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">  
                 コンタクトチケットの支払い方法はなにがありますか？
                </a>  
              </div>  
              <div id="collapse15" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 Paypalまたはクレジットカードでお支払いいただくことができます。
                </div>  
              </div>  
            </div> <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse16">  
                退会方法を教えてください。
                </a>  
              </div>  
              <div id="collapse16" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 残念ながら、一度選択すると変更ができませんので、選択する前によく考えてください。
                </div>  
              </div>  
            </div>
            
           <!--<div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse17">  
                 一度「Like」を選択したら、変更できないのですか？
                </a>  
              </div>  
              <div id="collapse17" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 残念ながら、一度選択すると変更ができませんので、選択する前によく考えてください。
                </div>  
              </div>  
            </div>
             <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse18">  
                 一度「Like」を選択したら、変更できないのですか？
                </a>  
              </div>  
              <div id="collapse18" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 残念ながら、一度選択すると変更ができませんので、選択する前によく考えてください。
                </div>  
              </div>  
            </div>
-->

</div><!--accordion-->

  </div><!--faq-->             
                    
                        <div class="to_top"><a href="#top">トップへ</a></div>
                  
           

</div>

</div><!--tab-content-->

           
          </div><!--tabbable-->
           
     

</div>
</div>          
</div>			
</div>