<div id="main">
<div id="content">
	<h2 class="policy_title" id="top">利用規約</h2>
	
	
<div class="policy">
<div class="article"> 第1条（11cafe）</div>
<p>「11cafe」とは、当社が提供するインターネット上の交際または結婚相手を探すための総合情報サイト（http://www.11amcafe.com/）および、これに付随するメール配信その他の各種情報提供サービスならびに、第3条に定める会員登録を行った者に提供される各種情報提供サービス（以下「会員サービス」といいます）の総称をいいます。</p>
<div class="article">第2条（利用規約と個別契約）</div>
<p>11cafeを利用する者（以下「利用者」といいます）は、11cafeの仕組みおよび11cafe提供されるサービスの内容を理解・承諾の上、11cafe利用規約（以下「本規約」といいます）に従って、11cafeを利用するものとします。
利用者が、11cafeに含まれるコンテンツや情報を閲覧・使用・ダウンロードした場合には、本規約に同意したものとみなします。
本規約は、11cafeの利用に関する当社と利用者間の会員登録にかかる契約（以下「個別契約」といいます）にも適用されるものとします。
会員登録に関する個々の内容、仕様、利用料、利用可能期間等の事項は、本規約に定めるものを除き、個別契約にて定めるものとします。</p>
<div class="article">第3条（会員登録）	</div>
<p>利用者は、以下の条件を満たした上で11cafeの会員登録（次項の定義に従います）をすることができるものとします。</p>
<ul>
<li>（1）満20歳以上39歳以下であること。</li>
<li>（2）首都圏（東京・神奈川・埼玉・千葉・栃木・茨城・群馬）、東海（愛知・岐阜・静岡・三重）、 関西（大阪・兵庫・京都・滋賀・奈良・和歌山）地方在住であること。</li>
<li>（4）独身。</li>
<li>（5）自らの身分を証明するために、当社の要求がある場合、身分の証明をできること。<br>　
（運転免許証・パスポート・健康保険証の写し等を含みますが、これらに限られません。）</li>
<li>（6）過去に、その他異性交際の機会を提供するサービスの利用にあたって、ストーカー行為、その他これに相当する迷惑行為を行っていないこと。
</li>（7）過去に11cafeから警告、退会、その他これらに相当する指摘をされていないこと。
<li>（8）反社会的勢力の構成員、その他反社会的勢力に関係がないこと</li>
<li>（9）その他、当社が11cafeの利用を不適当と判断しないこと。</li></ul>
<p>「会員」とは、当社の定める手順に従い個人情報（当社の「プライバシーポリシー」の定義に従います）およびその他の情報を登録することにより11cafeの会員サービスの提供を受けること（以下「会員登録」といいます）を希望し、当社がこれを承認した者をいいます。会員登録の申込みおよびその承認後、会員は会員サービスを利用できるものとします。 なお、会員は、会員登録にあたって当社の要望に基づき会員が当社に提供した書類一式（運転免許証・パスポート・健康保険証の写し、納税証明書、独身証明等をいいますが、これらに限られません）を当社が返却しないことを予め承諾します。<br>
会員は、会員登録を行った時点で、本規約および「プライバシーポリシー」(以下あわせて「規約」といいます)の内容をすべて承諾したものとみなされます。不承諾の意思表示は会員登録を行わないことをもってのみ認められるものとします。
会員は、本サービスにおいて入力された情報の内容につき、自ら責任を負うものとします。
会員は、会員登録の際に登録したメールアドレス、その他入力した情報が誤っている場合など、当社が適当でないと判断したときは、会員サービスの提供を行わない場合があることを承諾します。
会員IDおよびパスワードは会員本人が責任をもって管理するものとします。
会員IDおよびパスワードの第三者による盗用に伴う損害の発生ついて当社は一切の責任を負いません。
当社は、会員の情報については、原則として開示を行いませんが、以下の場合には、関係法令に反しない範囲で、事前に通知することなく第三者に個人情報および会員の利用履歴、その他メッセージの内容等を提供することがあります。</p>
<ul>
<li>（1）公的機関その他から法令に基づき開示を求められたとき。</li>
<li>（2）会員の同意を得たとき。</li>
<li>（3）人の生命、身体又は財産の保護のために必要がある場合であって、会員の同意を得ることが困難であるとき。</li>
<div class="article">第4条（退会）</div>
<p>会員は、会員サービスの利用を停止したい場合、11cafeの中で退会機能を利用することで、11cafeを退会し、会員サービスの利用を停止することができるものとします。
会員が11cafeを退会した場合、会員サービスにおいて登録または利用した情報は、削除されるものとし、会員はこれに異議を唱えられないものとします。会員は、自らの責任で必要な情報を保管するものとします。</p>
<div class="article">第5条（会員登録の抹消）	</div>
<p>当社は、会員が規約に違反したと判断した場合、当該会員に対し事前に通知することなく、当該会員の本サービスの全部または一部の利用の一時停止、将来に渡った利用乃至は会員登録の禁止、本サービスにおいて入力された情報の全部または一部の停止・削除、当該情報が本サービス上非表示になる等、当社が適切と判断した措置を行うことができるものとします。
当社は、会員が一定期間以上会員サービスを利用しない場合、または当社が必要と認めた場合には、会員登録を抹消することがあります。</p>
<div class="article">第6条（禁止行為）	</div>
<p>利用者は、11cafe上で以下の行為または以下に該当するおそれのある行為を行ってはならないものとします。</p>
<ul>
<li>（1）意図的に虚偽の情報を登録する行為及び他人や他の存在になりすます行為</li>
<li>（2）著作権、商標権、プライバシー権、氏名権、肖像権、名誉等の他人の権利を侵害する行為</li>
<li>（3）個人や団体を誹謗中傷する行為</li>
<li>（4）児童をわいせつな行為の相手方となるように誘引する行為</li>
<li>（5）人（児童を除く。）を児童とのわいせつな行為の相手方となるように誘引する行為</li>
<li>（6）対価を供与することを示して、児童を異性交際の相手方となるように誘引する行為</li>
<li>（7）対価を受けることを示して、人を児童との異性交際の相手方となるように誘引する行為</li>
<li>（8）プロフィール編集において、電話番号、e-mailアドレス、Facebookの個人URL・Twitterのアカウント名・mixiのIDその他SNSサービスを有するウェブサイト上のアカウント情報など、他の利用者と相互に連絡をとることができる情報、または当該情報を容易に特定させる情報を掲載する行為</li>
<li>（9）プロフィール編集において、11cafe以外のウェブサイトのURL、または当該URLを容易に特定させる情報を掲載する行為</li>
<li>（10）法令、公序良俗に反する行為</li>
<li>（11）11cafeを利用しての営利を目的とした情報提供等の行為</li>
<li>（12）11cafeの運営を妨げる行為、または当社の信頼を毀損する行為</li>
<li>（13）11cafeの運営目的に反する行為</li>
</ul>
<p>利用者は、11cafeを通じて前項に定める行為があることを知った場合、速やかに当社が別途11cafeサイト内で指示する通報機能を経由して、通報を行うものとします。なお、当社は当該通報を受けた場合、自らの判断で対応の要否および対応の内容を決定できるものとし、通報を受領した場合であっても、対応をする義務、対応結果を利用者に報告する義務を負うものではありません。</p>
<div class="article">第7条（著作権の取扱）	</div>
<p>11cafeに掲載されている文章、画像、映像、音声、プログラム等のコンテンツについての著作権等の権利は当社に帰属するものとし、当社の事前の承諾なく、複製、転載等の使用をすることを禁じます。
11cafeにて使用されている当社の商標、当社の商品・サービス名称等は、当社の登録商標であり、これらを当社の事前の承諾なく使用することを禁じます。</p>
<div class="article">第8条（情報登録）	</div>
<p>利用者は、11cafeサイト内に登録した情報のうち、基本情報として登録される情報（ニックネーム、職業、職種、勤務地、身長、体型、会員の自己申告による内容などをいいますが、これらに限られません）が、11cafeサイト内で会員に対して開示される他、会員以外の利用者または利用者以外の公衆に対し、11cafeサイトの利用及び会員登録へ誘引する目的で、11cafeサイトまたは当社による11cafeサイトの広告内に表示される場合があることを、予め承諾するものとします。
利用者が11cafeサイト内に登録した情報のうち、基本情報以外として登録される情報及び利用者の写真は、当該利用者が、サイト上で、個別に承諾した会員に対してのみ、開示されます。
当社は、利用者が登録しあるいはコンタクト機能を利用することにより不特定の利用者または会員が閲覧可能となる情報に関して、当該利用者・会員に対する事前の通知なくして、以下の処理を行うことができるものとします。</p>
<ul>
<li>（1）内容について審査すること。</li>
<li>（2）11cafeに掲載すること、または掲載しないこと。</li>
<li>（3）全部または一部を修正または削除するよう利用者に依頼すること。</li></ul>
<p>会員はコンタクト機能を利用して入力する内容に責任を負い、以下に掲げる内容またはそれに該当する恐れのある内容を含む文章や写真等を入力、送信してはならないものとします。</p>
<ul>
<li>（1）11cafeにおける目的に反する内容を含むもの。</li>
<li>（2）著作権、商標権、プライバシー権、肖像権、名誉等、第三者の権利を侵害する内容を含むもの。</li>
<li>（3）他人のプライバシーにかかる事項を含むもの。</li>
<li>（4）他人の名称・メールアドレス・住所・電話番号等個人を特定しうる情報を含むもの（投稿者名や投稿内容において使用される場合を含むが、これらに限られません）。</li>
<li>（5）広告・宣伝・営業活動、公職選挙運動、特定の思想・宗教への勧誘、またはそれらに類する内容を含むもの。</li>
<li>（6）ポルノ小説・写真、性的交渉の勧誘、その他わいせつな内容を含むもの。</li>
<li>（7）児童をわいせつな行為の相手方となるように誘引する内容を含むもの。</li>
<li>（8）人（児童を除きます）を児童とのわいせつな行為の相手方となるように誘引する内容を含むもの。</li>
<li>（9）対価を供与することを示して、児童を異性交際の相手方となるように誘引する内容を含むもの。</li>
<li>（10）法令、公序良俗に反するまたはそのおそれのある内容を含むもの。</li>
<li>（11）差別的表現を含むもの。</li>
<li>（12）事実と反する内容・虚偽の内容を含むもの。</li>
<li>（13）営利目的の内容を含むもの。</li>
<li>（14）同一内容の文章や写真、リアクション等を意図的に多数投稿すること。</li>
<li>（15）11cafeのサービス・機能に関するお問合せやクレームを含むもの。</li>
<li>（16）ナンセンス、グロテスクな内容を含むもの。</li>
<li>（17）特定の企業、法人、団体、地域、個人に対しての誹謗（ひぼう）・中傷・苦情、差別発言などの不適切な表現が含まれているもの（伏せ字での発言も含めます）。</li>
<li>（18）物品・割引券・紹介カードなどの売買または譲渡についての情報を含むもの。</li>
<li>（19）商品やサービスのキャンペーンや割引情報を含むもの。</li>
<li>（20）営利を目的とした情報を含むもの。</li>
<li>（21）その他、11cafeに不適切な内容、表現であると当社が判断したもの。</li></ul>
<p>利用者が前項の規定に違反し、他の利用者または第三者との間でトラブルが発生した場合、利用者は自らの責任において当該トラブルの解決を図るものとし、当社に一切の迷惑をかけないものとします。
当社は、利用者による11cafeの適正な利用を目的として、利用者が登録しあるいはコンタクト機能を利用することにより特定の利用者または会員間で行う質問をしたり、メッセージを送受信できる連絡機能について、当該利用者・会員に対する事前の通知なくして、以下の処理を行うことができるものとします。</p>
<ul>
<li>（1）内容について審査すること。</li>
<li>（2）を提供すること、または提供しないこと。</li></ul>
<div class="article">第9条（統計情報・属性情報の集計および利用）	</div>
<p>当社は、利用者の11cafeの利用記録（ページビュー、診断結果、メッセージ送受信、各種会員サービスなどを含みますが、これらに限られません）を集計・分析し、利用者個人を識別・特定できないように加工した上で統計データ、属性情報等を作成し、当該統計データ、属性情報等につき何らの制限なく利用（企業への提案、市場の調査、新サービスの開発、不正行為の調査を含みますが、これらに限られません）することができるものとし、利用者はこれをあらかじめ承諾します。</p>
<div class="article">第10条（不可抗力）	</div>
<p>当社は、通常講ずるべきウィルス対策では防止できないウィルス被害もしくは天変地異による被害が生じた場合、またはその他当社の責によらない事由（以下「不可抗力」といいます）による被害が生じた場合には、一切責任を負わないものとします。当社は、これらの不可抗力に起因して11cafeのサービスにおけるデータが消去・変更されないことを保証するものではなく、11cafe利用者は、必要に応じてかかるデータを自己の責任において保存するものとします。</p>
<div class="article">第11条（不保証等）	</div>
<p>当社は、11cafe、11cafeにおいて提供される情報、11cafeを通じて交際または結婚相手が見つかること、および11cafeを通じて知りあった相手が利用者の希望にかなうことに関して、その正確性、完全性、目的適合性、有用性、適法性、最新性および第三者の権利を侵害していないことについて、一切保証しないものとします。</p>
<div class="article">第12条（サービスの一時的な中止、変更、廃止）	</div>
<p>当社は、以下の事由に該当すると判断した場合には、事前の通知や承諾なしに、11cafeのサービスの一時的な中断を行うことがあります。</p>
<ul>
<li>（1）システムの保守または変更を行う場合</li>
<li>（2）天災事変その他非常事態が発生し、または発生するおそれがあり、TwinCueの運営が困難な場合</li>
<li>（3）その他当社が必要やむをえないと認めた場合</li></ul>
<p>11cafeのサービスや情報、URLは、予告なしに変更または廃止される場合があります。</p>
<div class="article">第13条（免責事項）	</div>
<p>当社が相当の安全策を講じたにもかかわらず、以下の事由により損害が生じた場合には、当社はいかなる責任も負わないものとします。</p>
<ul>
<li>（1）通信回線やコンピュータ等に障害が生じたことにより、システムの中断・遅滞・中止等によって発生した損害</li>
<li>（2）11cafe内のウェブページが改竄されたことにより生じた損害</li>
<li>（3）11cafeに関するデータへの不正アクセスにより生じた損害</li>
<li>（4）11cafeのサービスとして送信される電子メールおよびウェブコンテンツに、コンピュータウィルス等の有害なものが含まれていたことにより生じた損害</li></ul>
<p>11cafeの利用は、すべて利用者自身の責任において行うものとし 、11cafeを利用した結果生じた他の会員を含む第三者とのトラブル（ストーカー被害等を含みますがこれに限りません）について、利用者は自らの責任と負担で解決をし、当社に損害が生じないようにするものとします。
当社は、11cafeの利用者の11cafeの利用または利用不能により生じる一切の損害につき、当社の故意または重過失による損害を除き、当社は責を負わないものとします。</p>
<div class="article">第14条（会員サービス内容の変更等）	</div>
<p>当社は、会員への事前の通知なくして、会員サービスの変更または一時的な中断を行うことがあります。
当社は、1ヶ月の予告期間をもって会員に通知のうえ、会員サービス全体の提供を長期的に中断もしくは終了することがあります。</p>
<div class="article">第15条（個人情報の取扱）	</div>
<p>当社は、「プライバシーポリシー」に則り、会員の個人情報を取り扱うものとします。
当社は、会員の同意に基づき、会員サービスを提供するものとし、そのために必要と判断される合理的な範囲内で個人情報を利用することができるものとします。</p>
<div class="article">第16条（本規約の変更）	</div>
<p>当社は本規約を随時変更することができるものとします。
変更内容が11cafe上に表示されてから1ヶ月経過した時点で、すべての会員が承諾したものとみなします。</p>
<div class="article">第17条（準拠法および管轄）	</div>
<p>11cafeおよび本規約の解釈および適用は、日本国法に準拠します。
11cafeに関わる全ての訴訟については、訴額に応じて東京簡易裁判所または東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
<p class="to_top"><a href="#top">トップへ</a></p>
</div>	
</div>
</div>