
<%if flash[:notice]%>
<div class="alert alert-success">
<button class="close" data-dismiss="alert">×</button><%=flash[:notice]%>
</div>
<%end%>
<%if flash[:error]%>
<div class="alert alert-error"><button class="close" data-dismiss="alert">×</button>
<%=flash[:error]%>
</div>
<%end%>

<input type='hidden' id='user_id' value='<%=@user[:id]%>'></input>