
<h1>List of Users</h1>
<%if flash[:notice]%>
<div class="alert alert-success">
<button class="close" data-dismiss="alert">×</button><%=flash[:notice]%>
</div>
<%end%>
<%if flash[:error]%>
<div class="alert alert-error"><button class="close" data-dismiss="alert">×</button>
<%=flash[:error]%>
</div>
<%end%>
<table cellpadding="10px">
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Birthdate</th>
		<th>BloodType</th>
		<th>Phone Number</th>
		<th>Gender</th>
		<th>Age Preference</th>
		<th></th>
	</thead>
	<tbody>
<%@users.each do |user|%>
<tr><td><%=user["name"]%></td><td><%=user["email"]%></td><td><%=user["birthdate"]%></td><td><%=user["bloodType"]%></td><td><%=user["phone"]%></td><td><%=user["gender"]%></td><td><%=user["age_preference"]%></td>
	<td>
	<%=form_tag delete_path, :method=>:delete do%>
	<%=hidden_field_tag "email", user["email"]%>
	<%=submit_tag "Delete"%>
	<%end%>
</tr>
<%end%>
<a href='/users/new' id='Register'>Register</a>
</form> 
</tbody>




</table>
