<div style="display:none" id="Time"></div>
<div class="row" style="padding-top:15px;">
	<div id="main">
		<div id="content">
			<%if flash[:notice]%>
			<div class="alert alert-success">
			<a class="close" href="#" data-dismiss="alert">&times;</a>
			<%=flash[:notice]%>
			</div>
			<%end%>
			<%if flash[:error]%>
			<div class="alert alert-error">
				<a class="close" href="#" data-dismiss="alert">&times;</a>
			<%=flash[:error]%>
			</div>
			<%end%>
			<h2 class="title">
          <!--  11<span class="s">am</span>cafe<span class="meiryo">-->
          <img src="/assets/logo_grey.png">
       <!--</span>-->
	   </h2>
   
      
<table class="process_bar" cellpadding="0" cellspacing="0" border="0">
            	<tbody>
                <tr>
                <td class="process onPage">基本情報入力</td>
              	<td class="process_img_onPage"></td>
				<td class="process">メールアドレス認証</td>
                <td class="process_img"></td>
				<td class="process_keyword">キーワード入力と写真設定</td>
         		<td class="process_img"></td>
				<td class="process">プロフィール認証</td>
            </tr></tbody>
		</table>
<form id="signupform" name="signupform" action="/users" method="POST" accept-charset="UTF-8">
	
	<table id="signup_table" cellpadding="0" cellspacing="0" border="0">
				<tbody>
				<tr>
					<td class="td_input">名前（カタカナ）</td>
                    <td>
	<%=text_field_tag "user[name]", @usr ? @usr["name"]: "", :class => "inputtext", :placeholder=>"#{t(:name_ph)}"%></td>
		
				</tr>
				<tr>	
                	<td class="td_input">メールアドレス</td>
					<td><%=text_field_tag "user[email]", @usr ? @usr["email"] : "", :class => "inputtext", :placeholder=>"#{t(:email_address_ph)}"%></td>
					
				</tr>
				<tr>
                	<td class="td_input">パスワード</td>
					<td><%=text_field_tag "user[password]", nil, :class => "inputtext", :type=>"password", :placeholder=>"#{t(:password_ph)}"%></td>
					
				</tr>
				<tr>
					<td class="td_input"><%=t(:confirm_password)%></td>
					<td><%=password_field_tag "user[password2]", nil, :class => "inputtext", :placeholder=>"#{t(:confirm_password)}"%></td>
				</tr>
				<tr><td class="td_input">携帯電話番号（ハイフンなし）</td>
                	
					<td><%=text_field_tag "user[phone]", @usr ? @usr["phone"] : "", :class => "inputtext", :placeholder=>"#{t(:phone_number_ph)}"%></td>
				</tr>
			
						
							<tr><td class="td_input">誕生日</td>
<td>
<div class="field_container_birthday">
	<%if @usr%>
	<%=date_select :user, :birthdate, :start_year =>  Time.zone.now.year - 40, :end_year => Time.zone.now.year - 18, :default => @usr["birthdate"].to_date, :class =>"select"%>
	<%else%>
	<%=date_select :user, :birthdate, :start_year =>  Time.zone.now.year - 40, :end_year => Time.zone.now.year - 18, :class =>"select"%>
	<%end%>

</div>
</td>
</tr>
								<tr><td class="td_input">お住まいの地域</td>
			<td class="xtd"><select class="select" name="user[city]" id="user_city">
			<option value="0" >地域を選択:</option>
			<option value="tokyo" <%=(@usr && @usr["city"] && @usr["city"].eql?("tokyo")) ? "selected" : ""%>><%=I18n.t(:tokyo)%></option>
	<option value="kanagawa" <%=(@usr && @usr["city"] && @usr["city"].eql?("kanagawa")) ? "selected" : ""%>><%=I18n.t(:kanagawa)%></option>
	<option value="saitama" <%=(@usr && @usr["city"] && @usr["city"].eql?("saitama")) ? "selected" : ""%>><%=I18n.t(:saitama)%></option>
	<option value="chiba" <%=(@usr && @usr["city"] && @usr["city"].eql?("chiba")) ? "selected" : ""%>><%=I18n.t(:chiba)%></option>
	<option value="tochigi" <%=(@usr && @usr["city"] && @usr["city"].eql?("tochigi")) ? "selected" : ""%>><%=I18n.t(:tochigi)%></option>
	<option value="ibaraki" <%=(@usr && @usr["city"] && @usr["city"].eql?("ibaraki")) ? "selected" : ""%>><%=I18n.t(:ibaraki)%></option>
	<option value="gunma" <%=(@usr && @usr["city"] && @usr["city"].eql?("gunma")) ? "selected" : ""%>><%=I18n.t(:gunma)%></option>
	<option value="aichi" <%=(@usr && @usr["city"] && @usr["city"].eql?("aichi")) ? "selected" : ""%>><%=I18n.t(:aichi)%></option>
	<option value="gifu" <%=(@usr && @usr["city"] && @usr["city"].eql?("gifu")) ? "selected" : ""%>><%=I18n.t(:gifu)%></option>
	<option value="shizuoka" <%=(@usr && @usr["city"] && @usr["city"].eql?("shizuoka")) ? "selected" : ""%>><%=I18n.t(:shizuoka)%></option>
	<option value="mie" <%=(@usr && @usr["city"] && @usr["city"].eql?("mie")) ? "selected" : ""%>><%=I18n.t(:mie)%></option>
	<option value="osaka" <%=(@usr && @usr["city"] && @usr["city"].eql?("osaka")) ? "selected" : ""%>><%=I18n.t(:osaka)%></option>
	<option value="hyogo" <%=(@usr && @usr["city"] && @usr["city"].eql?("hyogo")) ? "selected" : ""%>><%=I18n.t(:hyogo)%></option>
	<option value="kyoto" <%=(@usr && @usr["city"] && @usr["city"].eql?("kyoto")) ? "selected" : ""%>><%=I18n.t(:kyoto)%></option>
	<option value="shiga" <%=(@usr && @usr["city"] && @usr["city"].eql?("shiga")) ? "selected" : ""%>><%=I18n.t(:shiga)%></option>
	<option value="nara" <%=(@usr && @usr["city"] && @usr["city"].eql?("nara")) ? "selected" : ""%>><%=I18n.t(:nara)%></option>
	<option value="wakayama" <%=(@usr && @usr["city"] && @usr["city"].eql?("wakayama")) ? "selected" : ""%>><%=I18n.t(:wakayama)%></option>	
	</select>
	</td>

</tr>
								<tr>
									<td class="td_input">性別</td>
									<td class="xtd">
										<%=radio_button_tag "user[gender]", "male", @usr && @usr["gender"] && @usr["gender"].eql?("male") ? true: false%> <%=t(:male)%>
										<%=radio_button_tag "user[gender]", "female", @usr && @usr["gender"] && @usr["gender"].eql?("female") ? true: false%> <%=t(:female)%>
									</td>
								</tr>
								<tr>
									<td class="td_input">血液型</td>
									<td class="xtd">
										<%=radio_button_tag "user[bloodType]", "A", @usr && @usr["bloodType"] && @usr["bloodType"].eql?("A") ? true: false%> A型
										<%=radio_button_tag "user[bloodType]", "B", @usr && @usr["bloodType"] && @usr["bloodType"].eql?("B") ? true: false%> B型
										<%=radio_button_tag "user[bloodType]", "AB", @usr && @usr["bloodType"] && @usr["bloodType"].eql?("AB") ? true: false%> AB型
										<%=radio_button_tag "user[bloodType]", "0", @usr && @usr["bloodType"] && @usr["bloodType"].eql?("0") ? true: false%> O型
									</td>
								</tr>
								<tr>
									<td class="td_input">相手の希望年齢</td>
									<td class="xtd">
											<%=radio_button_tag "user[age_preference]", "older", @usr && @usr["age_preference"] && @usr["age_preference"].eql?("older") ? true: false%> <%=t(:older)%>
											<%=radio_button_tag "user[age_preference]", "younger", @usr && @usr["age_preference"] && @usr["age_preference"].eql?("younger") ? true: false%> <%=t(:younger)%>
											<%=radio_button_tag "user[age_preference]", "none", @usr && @usr["age_preference"] && @usr["age_preference"].eql?("none") ? true: false%> <%=t(:none)%>
									</td>
								</tr>
				
					</tbody>
		</table>

        <table id="second_table" cellpadding="0" cellspacing="0" border="0">
	<tr><td>
					<div class="privacy_policy">[アカウントを作成する]をクリックすることにより、あなたは弊社
					<a href="/11amcafe/policy" target="_blank" rel="nofollow">規約</a>に同意し、弊社
					<a href="/11amcafe/privacy" target="_blank" rel="nofollow">プライバシーポリシー</a>
					を読み、理解したことになります。</p>
					</div>
					</td>
		</tr>			<tr>
			               <!-- <td style="padding-left:170px"><%=get_captcha(:theme => "white", :tabindex => 10, :ssl => true).html_safe%></td></tr>-->
				<tr><td><input class="orange button" id="signup_button" name="submit" type="submit" value="アカウントを作成する"></td>
				
				</tr>
</table>
	</form>	
		
	</div>
	</div>
</div>

