<div style="display:none" id="Time"></div>
<div class="row" style="padding-top:15px;">
<div id="main">
	<div id="content">
      	<%if flash[:notice]%>
		<div class="alert alert-success" style="padding-top:15px">
		<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:notice]%>
		</div>
		<%end%>
		<%if flash[:error]%>
		<div class="alert alert-error" style="padding-top:15px">
			<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:error]%>
		</div>
		<%end%>
     <h2 class="title">あなたはどんな人？</h2>
   <table class="process_bar" cellpadding="1" cellspacing="0" border="0">
    		<tbody><tr>
				<td class="process">基本情報入力</td>
              	<td class="process_img"></td>
				<td class="process">メールアドレス認証</td>
                <td class="process_img_2"></td>
				<td class="process_keyword onPage">キーワード入力と写真設定</td>
         		<td class="process_img_onPage"></td>
				<td class="process">プロフィール認証</td>
			
                
            </tr></tbody>
</table>
			<div class="alert alert-error">
	        注意：キーワードと写真が入力されていないと、プロフィール認証されず、カードがやってきません！
	        </div>
				<%=form_tag save_user_information_ss_path, :method => :post do%>			
				<%=hidden_field_tag "email", @member["email"]%>
				<%=MemberHelper.advance_profile_tag :advance, nil, nil, @member, ["	優しい、完璧主義者、肉食系、草食系、
					夢追い人、結構いい加減、怠け者、お調子者、働き者、情熱的、気分屋、明るい、真面目、社交的、器用、
					ウソがつけない、天然とよく言われる、寂しがり屋、人なつこい、バカ正直、落ち着いている、引っ込み思案、ストイックな性格、
					細マッチョ、長女、末っ子、楽観的、甘えん坊、身長180cm、運動好き、スリム、努力家、家庭的、不器用", "優しい人、面白い人、嘘つかない人、昼寝、新しいもの、サッカー、ショッピング、お菓子作り、飲み会、
					慣れ親しんだもの、 スイーツ、秋、イケメン、ドライブ、温泉、マッサージ、旅行、おしゃべり、ペット、筋トレ、ジョギング、自己啓発、
					テレビ、ゴルフ、健康グッズ、人助け、お笑い、ネットサーフィン 、ボーっとすること、重ね着、すっぴん、ぼっちゃり、スリム、流行りモノ", "満員電車、人ごみ、タバコ、女みたいな男、がさつな女、怖い話、野菜、空気が読めない人、
気を遣いすぎる人、お酒、化粧、高所、努力しない人、ケチな人、冷めたご飯、きつい香水、暑さ、噂話、日曜のサザエさん、潔癖な私、
ストレスで食に走る私、気性が荒い人、自慢する人、人の話を聞かない人、失礼な人、不潔な人、格好悪い人、怖い人、うそつき、浮気性、遊び人、怠け者", "愛車、マイホーム、自転車、
コーヒーメーカー、50インチテレビ、沢山のゲーム、長身、つぶらな瞳、英検1級、
長い指、野菜ソムリエ資格、豊かな髪、美肌、輝く笑顔、白い歯、健康な体、運転免許、ペット、ユーモア、筋の通ったきれいな鼻、美しい手、歌唱力、
美的センス、漢字検定3級、剣道初段、書道師範、ダイビング免許、大家族、信頼できる友人、流行の服、iPhone、一眼カメラ", "長期休暇、昇給、私を大切にしてくれる恋人、愉快な同僚、なんでも話せる異性の友人、
未来を見通す目、透き通るような白い肌、元気な髪の毛、とにかくお金、豪邸、画力、センス、行動力、度胸、
謙虚さ、知恵、忍耐力、時間、大型バイク、夢、高級車、ホームシアター、一緒に頑張れる仲間、頼れる上司、信頼できる部下、
人気、愛情、世界一周旅行、自由、焼肉食べ放題、親友", "ノルウェイの森、星の王子さま、アルケミスト、七つの習慣、人を動かす、シークレット、
ダ・ヴィンチ・コード、老人と海、ハムレット、三国志、西遊記、竜馬がゆく、シャーロックホームズ、坂の上の雲、沈まぬ太陽、
白夜行、進撃の巨人、岳、SEVEN SEEDS、3月のライオン、ワンピース、花より男子、犬夜叉、宇宙兄弟、スラムダンク、僕等がいた、ドラゴンボール、HUNTER×HUNTER", "ビートルズ、Green day、ベートーベン交響曲第9番、マイケル・ジャクソン、ミスチル、いきものがかり、EXILE、
嵐、JUJU、AKB48、東方神起、福山雅治、レディー・ガガ、少女時代、KARA、リンキン・パーク、君が代、ヘビーローテーション、栄光の架け橋へ、
シーソーゲーム、真夏の果実、My way、Dirty、恋のマイアヒ、Angel of The Light、葉加瀬太郎、風が吹いている", "パイレーツ・オプ・カリビアン、アバター、MI3、マトリックス、千と千尋の神隠し、ハリーポッター、
ラブ・アクチュアリー、王様と私、ゴッドファーザー、踊る大捜査線、猟奇的な彼女、タイタニック、トイ・ストーリー、ロード・オブ・ザ・リング、
スパイダーマン、スターウォーズ、バットマン、ハウルの動く城、風と共に去りぬ、サウンド・オブ・ミュージック、カンフーパンダ", "和食派、洋食派、中華派、多国籍派、外食派、自炊派、ごはん党、パン党、めん党、
濃厚とんこつラーメン、寿司、やきいも、チョコレート、天ぷら、鍋料理、グミ、うどん、ハード系もっちりパン、チーズケーキ、
梅干し、スナック菓子、ビール、味噌汁、スイカ、焼肉、ハンバーガー、冷麺、アイス、羊羹、マカロン、ワイン、グラタン、ピザ、トンカツ、ステーキ、炭酸飲料、トマト", "無償で与えるもの、永遠、すごく欲しい、生き甲斐、得がたいもの、喜び、幸福、平和、美しい、
わからない、情熱、穏やかな心、おもいやり、エロス、すべてを受け入れること、信頼、成長、自分を知ること、
ダイヤモンド、お金では買えない、語るものではない、砂漠の一砂、両親がお手本、努力なしでは得られない、最も根源的な欲望、無条件、自分を支える力、人生そのもの", "消防士、銀行員、IT、一般事務、営業、経営、SOHO、フリーター、
学生、留学生、教師、保母、シェフ、公務員、飲食店、弁護士、会計士、税理士、デザイナー、クリエイター、アパレル、
通訳、スポーツインストラクター、医師、看護師、楽しい、帰れない、しんどい、新入社員、課長、仕事が趣味、生き甲斐、3年目、
10社目、満足している、転職したい、男ばっかり、生きるため"]%>
				<%end%>
      
       
      	<%=form_tag add_picture_ss_path, :method=>:post, :remote => true, :multipart => true do%>
		<%=hidden_field_tag "email", @member["email"]%>
        <table class="photo_table" cellpadding="0" cellspacing="0" border="0">
        <tbody>
         <tr>
        <td colspan="3" class="title_table">
        <span class="large_text">STEP2.　あなたの写真をアップロードしましょう</span>
        <span class="small_text">※2つ以上の写真の登録が必須です</span></td></tr>
        <tr>
        <td class="td_photo"><div class="photo" id="essencial"><span class="photo_text"><%=link_to image_tag("/11amcafe/get_picture/1?type=t&token=" + ('a'..'z').to_a.shuffle[0,20].join.html_safe, :size=>"210x280"),"/11amcafe/get_picture/1", :target => "blank" %></span></div></td>
        <td class="td_photo"><div class="photo" id="essencial"><span class="photo_text"><%=link_to image_tag("/11amcafe/get_picture/2?type=t&token=" + ('a'..'z').to_a.shuffle[0,20].join.html_safe, :size=>"210x280"),"/11amcafe/get_picture/2", :target => "blank" %></span></div></td>
        <td class="td_photo"><div class="photo"><span class="photo_text"><%=link_to image_tag("/11amcafe/get_picture/3?type=t&token=" + ('a'..'z').to_a.shuffle[0,20].join.html_safe, :size=>"210x280"),"/11amcafe/get_picture/3", :target => "blank" %></span></div></td>
        
        </tr>
         <tr>
			<td class="td_button">
			<%=file_field_tag "pictures[1]",:accept => 'image/png,image/gif,image/jpeg,image/tiff', :style=>"width:120px"%>
			<%= link_to t(:delete_picture), delete_picture_ss_path("email"=> @member["email"],"name"=>'1'), :class=>"blue button"%>
			</td>
        	<td class="td_button">
			<%=file_field_tag "pictures[2]",:accept => 'image/png,image/gif,image/jpeg,image/tiff', :style=>"width:120px"%>
	        <%= link_to t(:delete_picture), delete_picture_ss_path("email"=> @member["email"],"name"=>'2'), :class=>"blue button"%>
			</td>
	        <td class="td_button">
			<%=file_field_tag "pictures[3]",:accept => 'image/png,image/gif,image/jpeg,image/tiff', :style=>"width:120px"%>
	        <%= link_to t(:delete_picture), delete_picture_ss_path("email"=> @member["email"],"name"=>'3'), :class=>"blue button"%>
			</td></tr>
          <tr>
        <td class="td_text">選択されていません</td>
        <td class="td_text">選択されていません</td>
        <td class="td_text">選択されていません</td>
        </tr>
        <tr>
        <td class="td_photo"><div class="photo"><span class="photo_text"><%=link_to image_tag("/11amcafe/get_picture/4?type=t&token=" + ('a'..'z').to_a.shuffle[0,20].join.html_safe, :size=>"210x280"),"/11amcafe/get_picture/4", :target => "blank" %></span></div></td>
        <td class="td_logo"><img src="/assets/11amcafe-logo-g.png"></td>
        <td class="td_photo"><div class="photo"><span class="photo_text"><%=link_to image_tag("/11amcafe/get_picture/5?type=t&token=" + ('a'..'z').to_a.shuffle[0,20].join.html_safe, :size=>"210x280"),"/11amcafe/get_picture/5", :target => "blank" %></span></div></td>
        </tr>
         <tr>
        	<td class="td_button">
			<%=file_field_tag "pictures[4]",:accept => 'image/png,image/gif,image/jpeg,image/tiff', :style=>"width:120px"%>
	        <%= link_to t(:delete_picture), delete_picture_ss_path("email"=> @member["email"],"name"=>'4'), :class=>"blue button"%>
			</td>
	        <td class="td_button"></td>
	        <td class="td_button">
			<%=file_field_tag "pictures[5]",:accept => 'image/png,image/gif,image/jpeg,image/tiff', :style=>"width:120px"%>
	        <%= link_to t(:delete_picture), delete_picture_ss_path("email"=> @member["email"],"name"=>'5'), :class=>"blue button"%>
			</td></tr>
         <tr>
        <td class="td_text">選択されていません</td>
        <td class="td_text"></td>
        <td class="td_text">選択されていません</td>
        </tr>
         <tr>
		<td colspan="3" class="warning_kw">
		注：必ず<strong>本人の顔が確認できる写真</strong>をアップロードしてください（各ファイル上限3MB）。団体写真など、本人以外の顔が写っている写真は利用できません。本人の写真でない場合、アカウントの登録を拒否、または停止、抹消されることがあります。</td>
		</tr>
         <tr>
		<td colspan="3">
		 <input class="orange button save" id="photo_save_button" name="submit" type="submit" value="保存して次へ">
		</td>
		</tr>
      
             </tbody>
        </table>  
     <%end%>
        
	</div>
	</div><div class="row" style="margin-top:0px;padding-top:0px;margin-left:5px;">
<div class="container" style="padding-top:0px;margin-top:0px;margin-bottom:0px;">

   
</div>
</div>
    
   

