<div class="row" style="padding-top:15px;">
	<div id="main">
	<div id="content">
		<h2 class="signup_finish_title">
        アドレス認証のため、確認メールを送信しました。<br><span class="h2-small">※ご注意：まだ登録は完了していません！</span></h2>
        
        <div class="comment_sf">
        ご登録いただいた携帯メールアドレスに確認メールを送信しました。<br>
        メールに記載されたURLをクリックして<span class="warning_signup_finish">アドレス認証を完了</span>してください。<br>
        <span class="comment_small">※URLのクリックが機能しない場合、メールに記載の暗証コードを、ログイン後アドレス認証ページにて入力、送信してください。</span>
       
        また、<a href="/11amcafe">トップ画面</a>からログインして<span class="warning_signup_finish">プロフィールの作成を完了</span>してください。</div>
	
	 
		
	</div><!--content-->
	</div><!--main-->
    </div>