
<div class="row" style="padding-top:15px;">

	<div id="main">
		<%if flash[:notice]%>
		<div class="alert alert-success">
		<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:notice]%>
		</div>
		<%end%>
		<%if flash[:error]%>
		<div class="alert alert-error">
			<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:error]%>
		</div>
		<%end%>
	<div id="content">
		
		<h2 class="title">パスワードを再発行しますか？</span></h2>
		
		
		
	<%=form_tag send_forgotten_password_path, :method=>:post do%>
	    <table id="forgot_password_table" cellpadding="0" cellspacing="0" border="0">
			<tbody>
		
				<tr>
                <td class="fotgot_password_comment">登録しているメールアドレスを入力してください。</td>
				<tr><td><input class="inputtext" name="email" type="text" placeholder="メールアドレス"></td></tr>
				<tr><td class="td_recover_button">
                <input class="orange button" id="recover_password_button" type="submit" value="パスワードを再発行する"></td>
			
			</tr>
			</tbody>
		</table>
		<%end%>	
	</div>
	</div>
    
   
</div>