
	
	<div class="container"> 
		<div style="padding-top:50px">
		<%if flash[:notice]%>
		<div class="alert alert-success">
		<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:notice]%>
		</div>
		<%end%>
		<%if flash[:error]%>
		<div class="alert alert-error">
			<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:error]%>
		</div>
		<%end%>
		</div>
	<div class="top_timer2" id="Time">00:00:00</div>
	
	<div class="row" style="padding-top:200px;">

	    <div class="span8" style="margin-top:0px;">



	 <img src="/assets/top-photo2.png">


	     </div>

		
		<div class="span4">


		<%=form_tag sign_in_path, :class =>"signin_form" do%>
			<table class="signin" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr><td colspan="2">
					<input class="inputtext" placeholder="メールアドレス" type="email" name="email" value="<%=(@user && @user["email"])? @user["email"] : "" %>"></td></tr>

					<tr>
	                <td><input class="inputtext_small" placeholder="パスワード" type="password" name="password">

						<input class="blue button" value="ログイン" onclick='' id="login_button" type="submit"></td></tr>
					<tr><td colspan="2" class="forgot">・パスワードを忘れた場合は
							<%=link_to "こちら", forget_password_path %></td>

					</tr>
				</tbody>
			</table>
		<%end%>
			<form action="/users/new" method="get">
	<table class="signup" border="0" cellpadding="0" cellspacing="0">
	<tbody>              
		<tr><td><h2 class="signup_text"><strong>11<span class="s">am</span>cafe</strong>に登録する</h2></td></tr>
	    <tr><td id="signup_warning">11amcafeでは、満20歳以上39歳以下のの方を対象にサービスを提供させていただいています。
	            <br>現在のサービス提供エリアは<a href="#myModal" data-toggle="modal">こちら</a>になります。
	            <div class="modal hide fade" id="myModal">
	            	<div class="modal-header">
	                	<a class="close" data-dismiss="modal">×</a>
	                    <h3><%=t(:legal_terms)%></h3>
	                </div>
	                <div class="modal-body">
	                <p><%=t(:legal_terms_text).html_safe%></p>
	                </div>
	                <div class="modal-footer">
	                	<a href="#" class="btn btn-primary" data-dismiss="modal"><%=t(:close)%></a>
	                </div>
	            </div>


	    </td></tr>
		<tr><td>
				<input class="orange button" value="満20歳以上でアカウント登録する" onclick='' id="top_signup_button" type="submit">
				</td></tr>			
	</tbody>
	</table>
	</form>
	</div><!--span4-->

	</div><!--row-->
	</div><!--container-->

