
<div style="margin-top:50px">
<%if flash[:notice]%>
<div class="alert alert-success">
<a class="close" href="#" data-dismiss="alert">&times;</a>
<%=flash[:notice]%>
</div>
<%end%>
<%if flash[:error]%>
<div class="alert alert-error">
	<a class="close" href="#" data-dismiss="alert">&times;</a>
<%=flash[:error]%>
</div>
<%end%>
</div>

<%=form_tag save_password_path, :method=>:post do%>
<table width="100%" height="100%">
	<tr><td><%=label_tag "password", t(:password)%>
		<%=password_field_tag "password"%></td></tr>
	<tr><td><%=label_tag "password2", t(:confirm_password)%>
		<%=password_field_tag "password2"%></td></tr>
		<tr><td><%=submit_tag t(:save)%></td></tr>
		<%=hidden_field_tag "email", @user["email"]%>
		<%=hidden_field_tag "code", @user["code"]%>
</table>
<%end%>
