<div class="row" style="padding-top:15px;">
	<div id="main">
	<div id="content">
		<h2 class="form_title">送信されました。</span></h2>
		
		
		
	
	    <table cellpadding="0" cellspacing="0" border="0">
			<tbody>
				
			 	<tr><td class="comment_delete">11amcafeにご連絡いただき、ありがとうございます。<br>
                まもなくメールで返答させていただきますので、しばらくお待ちください。</td></tr>
                	
			</tbody>
		</table>
		
	</div>
	</div>
</div>