<div class="row" style="padding-top:15px;">
	<div id="main">
	<div id="content">
		<h2 class="title">フィードバックありがとうございます。</span></h2>
		
		
	
	   <div id="form">
<!--<form action="https://docs.google.com/spreadsheet/formResponse?formkey=dG9EdW9GNUhBa3RlTVRCV2stY0pJX3c6MQ&amp;ifq" method="POST" id="ss-form">-->
<!--<form action="https://docs.google.com/a/11amcafe.com/spreadsheet/formResponse?formkey=dEIwM0hqQXBUVXBzUnhHTmdieG1aU0E6MA&ifq" method="POST" id="ss-form">-->

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='/members/customer_support_finish.html';}"></iframe>
<form action="https://docs.google.com/a/11amcafe.com/spreadsheet/formResponse?formkey=dEIwM0hqQXBUVXBzUnhHTmdieG1aU0E6MA&ifq" method="post"
target="hidden_iframe" onsubmit="submitted=true;">



<div class="errorbox-good">
<div class="ss-item ss-item-required ss-radio">
<div class="ss-form-entry">
<label class="ss-q-title" for="entry_0">種類</label>
<label class="ss-q-help" for="entry_0"></label>
<ul class="ss-choices"><li class="ss-choice-item">
<label class="ss-choice-label">
<input type="radio" name="entry.0.group" value="肯定的なご意見・ご感想" class="ss-q-radio" id="group_0_1">肯定的なご意見・ご感想</label></li> 
<li class="ss-choice-item">
<label class="ss-choice-label">
<input type="radio" name="entry.0.group" value="否定的なご意見・ご感想" class="ss-q-radio" id="group_0_2">否定的なご意見・ご感想</label></li>
<li class="ss-choice-item">
<label class="ss-choice-label"><input type="radio" name="entry.0.group" value="どちらでもない" class="ss-q-radio" id="group_0_3">どちらでもない</label></li>
</ul>
</div></div></div>

<br>
<div class="errorbox-good">
<div class="ss-item ss-item-required ss-select">
<div class="ss-form-entry">
<label class="ss-q-title" for="entry_1">内容</label>
<label class="ss-q-help" for="entry_1"></label>
<select name="entry.1.single" id="entry_1"><option value="質問">質問</option> 
<option value="ご意見・ご感想">ご意見・ご感想</option> 

</select>
</div></div></div>
<br>
<div class="errorbox-good">
<div class="ss-item  ss-text">
<div class="ss-form-entry">
<label class="ss-q-title" for="entry_6">連絡先メールアドレス</label>
<label class="ss-q-help" for="entry_6">返答が必要な質問の場合のみ記入</label>
<input type="text" name="entry.6.single" value="" class="ss-q-short span5" id="entry_6">
</div></div></div>
<br>
<div class="errorbox-good">
<div class="ss-item ss-item-required ss-text">
<div class="ss-form-entry">
<label class="ss-q-title" for="entry_4">件名</label>
<label class="ss-q-help" for="entry_4"></label>
<input type="text" name="entry.4.single" value="" class="ss-q-short span5" id="entry_4">
</div></div></div>

<br> 
<div class="errorbox-good">
<div class="ss-item ss-item-required ss-paragraph-text">
<div class="ss-form-entry">
<label class="ss-q-title" for="entry_5">詳細情報</label>
<label class="ss-q-help" for="entry_5"></label>
<textarea name="entry.5.single" rows="5" cols="75" class="ss-q-long span5" id="entry_5"></textarea>
</div></div></div>


<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">
<div class="note">ご意見・ご感想をお寄せいただき、ありがとうございます。<br>
内容に応じて返信させていただきますので、ご了承ください。<br><br>
注:すべてのご提案には、利用規約が適用されます。</div>

<div class="ss-item ss-navigate">
<div class="ss-form-entry">
<input class="button orange" id="form_button" type="submit" name="submit" value="送信">
</div></div>
</form>

</div>	
		
	</div>
	</div>
	
</div>