<div class="row" style="padding-top:15px;">
	<div id="main">
	<div id="content">
		<h2 class="delete_title">休会または退会しますか？</span></h2>
		
		
	
	    <table id="delete_table" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<%=form_tag delete_final_path, :method=>:post do%>
					<%=hidden_field_tag "email", @ses[:email]%>
			 		<tr><td class="instruction">休会を希望される方は、パスワードを入力後、下記ボタンをクリックしてください。</td></tr>
                	<tr><td><input class="inputtext_delete" name="password" type="password" placeholder="パスワード"></td></tr>
					<tr><td><input class="orange button" id="suspend_account_button" type="submit" value="休会する"></td></tr>
				<%end%>
				<%=form_tag suspend_final_path, :method=>:post do%>
					<%=hidden_field_tag "email", @ses[:email]%>
                	<tr><td class="instruction">退会を希望される方は、パスワードを入力後、下記ボタンをクリックしてください。</td></tr>
					<tr><td class="warning_delete">※一度削除したアカウントは再開することができませんので、ご注意ください。</td></tr>
                	<tr><td><input class="inputtext_delete" name="password" type="password" placeholder="パスワード"></td></tr>
					<tr><td><input class="orange button" id="delete_account_button" type="submit" value="退会する"></td></tr>
                <%end%>
			</tbody>
		</table>
		
	</div>
	</div>
</div>