<div class="row" style="padding-top:15px;">
	<div id="main">
	<div id="content">
		<%if flash[:notice]%>
		<div class="alert alert-success" style="padding-top:15px">
		<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:notice]%>
		</div>
		<%end%>
		<%if flash[:error]%>
		<div class="alert alert-error" style="padding-top:15px">
			<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:error]%>
		</div>
		<%end%>
		<h2 class="title">プロフィールを変更しますか？</h2>
		
		
		<%=form_tag save_basic_info_path, :method=>:post do%>
		<%=hidden_field_tag "user[email]", @ses[:email]%>
	
	    <table id="edit_profile_table" cellpadding="0" cellspacing="0" border="0">
 		<tr><td colspan="2" class="xtd edit_title">基本情報の変更</td></tr>    
		<tr>
					<td class="xtd td_title"> メールアドレス</td>
					<td class="xtd td_input"><%=@ses[:email]%></td>
				</tr>
				<tr>
                	<td class="xtd td_title">名前（カタカナ）</td>
					<td class="xtd td_input"><%=text_field_tag "user[name]", @member ? @member["name"]: "", :class=>"inputtext_edit_profile"%></td>
				</tr>
				<tr><td class="xtd td_title">誕生日</td>
				<td class="xtd td_input">
					<%if @member && @member["birthdate"]%>
						<%=date_select :user, :birthdate, {:start_year =>  Time.zone.now.year - 40, :end_year => Time.zone.now.year - 18, :default => @member["birthdate"].to_date}, {:class=>"select"}%>
					<%else%>
						<%=date_select :user, :birthdate, {:start_year =>  Time.zone.now.year - 40, :end_year => Time.zone.now.year - 18}, {:class=>"select"}%>
					<%end%>
					
</td>
</tr>
             
             
								 <tr>
								<td class="xtd td_title">お住まいの地域</td>
										
			<td class="xtd td_input">					<select class="select" name="user[city]" id="user_city">
								<option value="0" >地域を選択:</option>
								<option value="tokyo" <%=(@member && @member["city"] && @member["city"].eql?("tokyo")) ? "selected" : ""%>><%=I18n.t(:tokyo)%></option>
						<option value="kanagawa" <%=(@member && @member["city"] && @member["city"].eql?("kanagawa")) ? "selected" : ""%>><%=I18n.t(:kanagawa)%></option>
						<option value="saitama" <%=(@member && @member["city"] && @member["city"].eql?("saitama")) ? "selected" : ""%>><%=I18n.t(:saitama)%></option>
						<option value="chiba" <%=(@member && @member["city"] && @member["city"].eql?("chiba")) ? "selected" : ""%>><%=I18n.t(:chiba)%></option>
						<option value="tochigi" <%=(@member && @member["city"] && @member["city"].eql?("tochigi")) ? "selected" : ""%>><%=I18n.t(:tochigi)%></option>
						<option value="ibaraki" <%=(@member && @member["city"] && @member["city"].eql?("ibaraki")) ? "selected" : ""%>><%=I18n.t(:ibaraki)%></option>
						<option value="gunma" <%=(@member && @member["city"] && @member["city"].eql?("gunma")) ? "selected" : ""%>><%=I18n.t(:gunma)%></option>
						<option value="aichi" <%=(@member && @member["city"] && @member["city"].eql?("aichi")) ? "selected" : ""%>><%=I18n.t(:aichi)%></option>
						<option value="gifu" <%=(@member && @member["city"] && @member["city"].eql?("gifu")) ? "selected" : ""%>><%=I18n.t(:gifu)%></option>
						<option value="shizuoka" <%=(@member && @member["city"] && @member["city"].eql?("shizuoka")) ? "selected" : ""%>><%=I18n.t(:shizuoka)%></option>
						<option value="mie" <%=(@member && @member["city"] && @member["city"].eql?("mie")) ? "selected" : ""%>><%=I18n.t(:mie)%></option>
						<option value="osaka" <%=(@member && @member["city"] && @member["city"].eql?("osaka")) ? "selected" : ""%>><%=I18n.t(:osaka)%></option>
						<option value="hyogo" <%=(@member && @member["city"] && @member["city"].eql?("hyogo")) ? "selected" : ""%>><%=I18n.t(:hyogo)%></option>
						<option value="kyoto" <%=(@member && @member["city"] && @member["city"].eql?("kyoto")) ? "selected" : ""%>><%=I18n.t(:kyoto)%></option>
						<option value="shiga" <%=(@member && @member["city"] && @member["city"].eql?("shiga")) ? "selected" : ""%>><%=I18n.t(:shiga)%></option>
						<option value="nara" <%=(@member && @member["city"] && @member["city"].eql?("nara")) ? "selected" : ""%>><%=I18n.t(:nara)%></option>
						<option value="wakayama" <%=(@member && @member["city"] && @member["city"].eql?("wakayama")) ? "selected" : ""%>><%=I18n.t(:wakayama)%></option>	
						</select>
	</td>
</tr>

								
			
                                <tr>
									<td class="xtd td_title">性別</td>
									<td class="xtd td_input">
                                 		<%=radio_button_tag "user[gender]", "male", @member["gender"].eql?("male")%><%=t(:male)%> 
										<%=radio_button_tag "user[gender]", "female", @member["gender"].eql?("female")%><%=t(:female)%>
		
									</td>
								</tr>
								<tr>
									<td class="xtd td_title">血液型</td>
									<td class="xtd td_input">
										<%=radio_button_tag "user[bloodType]", "A", @member && @member["bloodType"] && @member["bloodType"].eql?("A") ? true: false%>A型
										<%=radio_button_tag "user[bloodType]", "B", @member && @member["bloodType"] && @member["bloodType"].eql?("B") ? true: false%>B型
										<%=radio_button_tag "user[bloodType]", "AB", @member && @member["bloodType"] && @member["bloodType"].eql?("AB") ? true: false%>AB型
										<%=radio_button_tag "user[bloodType]", "0", @member && @member["bloodType"] && @member["bloodType"].eql?("0") ? true: false%>O型
									</td>
                                 </tr>
                                
								
								<tr>
									<td class="xtd td_title">相手の希望年齢</td>
									<td class="xtd td_input">
										<%=radio_button_tag "user[age_preference]", "older", @member["age_preference"].eql?("older")%><%=t(:older)%>
										 <%=radio_button_tag "user[age_preference]", "younger", @member["age_preference"].eql?("younger")%><%=t(:younger)%>
										 <%=radio_button_tag "user[age_preference]", "none", @member["age_preference"].eql?("none")%><%=t(:none)%>
					</td>
				</tr>
				<tr><td colspan="2" class="xtd td_button"><input class="orange button" id="profile_save_button" name="submit" type="submit" value="保存する"></td>
					<%end%>
					<%=form_tag save_new_phone_path, :method=>:post do%>
					<%=hidden_field_tag "user[email]", @ses[:email]%>				
				</tr>
                <tr><td colspan="2" class="xtd edit_title">携帯電話番号の変更</td></tr>
				<tr><td class="xtd td_title">携帯電話番号（ハイフンなし）</td>
					<td class="xtd td_input"><%if @member%>
					<%=text_field_tag "user[phone]", @member["phone"], :class=>"inputtext"%>
					<%else%>
					<%=text_field_tag "user[phone]", :class=>"inputtext"%>
					<%end%></td></tr>
                <tr><td class="xtd td_title">パスワード</td>
					<td class="xtd td_input"><%=password_field_tag "user[password]",nil, :class=>"inputtext"%></td></tr>
                <tr><td colspan="2" class="xtd td_button"><input class="orange button" id="profile_save_button" name="submit" type="submit" value="保存する"></td>
				</tr>
				<%end%>
				<%=form_tag save_new_password_path, :method=>:post do%>
				<%=hidden_field_tag "user[email]", @ses[:email]%>
                <tr><td colspan="2" class="xtd edit_title">パスワードの変更</td></tr>
                <tr><td class="xtd td_title">現在のパスワード</td>
					<td class="xtd td_input"><%=password_field_tag "user[password]", nil, :class=>"inputtext"%></td>
				</tr>
                <tr><td class="xtd td_title">新しいパスワード</td>
					<td class="xtd td_input"><%=password_field_tag "user[new_password]", nil, :class=>"inputtext"%></td>
                </tr>
                <tr><td class="xtd td_title">新しいパスワード（確認用）</td>
					<td class="xtd td_input"><%=password_field_tag "user[new_password2]", nil, :class=>"inputtext"%></td>
                </tr>
                <tr><td colspan="2" class="td">
                	<input class="orange button" id="profile_save_button" name="submit_button" type="submit" value="保存する">
                    </td>
				</tr>
				<%end%>	
				<tr><td colspan="2" class="delete_account"><%=link_to "アカウントを停止または削除する", delete_account_path%></td></tr>   	
	
			</tbody>
		</table>
		
	</div>
	</div>
</div>