

<%= button_to t(:edit_basic_data), edit_profile_path, :method=>:get%>
<%if !@user_active%>
<%= button_to t(:validate_account), validation_path, :method=>:get%>
<%end%>
<%= button_to t(:additional_profile_informatio), add_user_information_path, :method=>:get%>
<%= button_to t(:logout), logout_path, :method=>:get%>
