<div class="row" style="padding-top:15px;">
	<div id="main">
		<div id="content">
<%if flash[:notice]%>
<div class="alert alert-success">
<a class="close" href="#" data-dismiss="alert">&times;</a>
<%=flash[:notice]%>
</div>
<%end%>
<%if flash[:error]%>
<div class="alert alert-error">
	<a class="close" href="#" data-dismiss="alert">&times;</a>
<%=flash[:error]%>
</div>
<%end%>
<h2 class="title">パスワードの変更</span></h2>
<%=form_tag save_password_path, :method=>:post do%>
<%=hidden_field_tag "email", @user["email"]%>
<%=hidden_field_tag "code", @user["code"]%>
<table width="100%" height="100%" id="forgot_password_table"><tbody>
	<tr><td width="100%" align="center">
		<%=password_field_tag "password", '', :class=>'inputtext', :placeholder=>t(:password)%></td></tr>
	<tr><td width="100%" align="center">
		<%=password_field_tag "password2", '', :class=>'inputtext', :placeholder=>t(:confirm_password)%></td></tr>
		<tr><td class="td_recover_button" width="100%" align="center"><%=submit_tag t(:save), {:class=> 'orange button', :id=>"recover_password_button"}%></td></tr>
		
		</tbody>
</table>
<%end%>
</div>
</div>
</div>