<div class="row" style="padding-top:15px;">
	<div id="main">
		<%if flash[:notice]%>
		<div class="alert alert-success">
		<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:notice]%>
		</div>
		<%end%>
		<%if flash[:error]%>
		<div class="alert alert-error">
			<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:error]%>
		</div>
		<%end%>
         <table cellpadding="0" cellspacing="0" border="0" class="top_table"><tbody>
      
     <tr><td class="cafe_page_title">Today's Matching</td></tr>
     <tr><td class="cafe_page_timer" id="Time"></td></tr>
       </tbody></table>
       
		<table id="left_person"><tbody>
        <tr><td class="person_img">
					
                      <img src="/assets/11amcafelogocolor.png">
        </td></tr>
        </tbody></table>
      
           
           
            	<table id="right_person"><tbody>
        <tr><td class="person_img">
					
                      <img src="/assets/11amcafelogocolor.png">
               </td></tr>
        </tbody></table>
    
            
            <div class="tutrial">
        <div id="this-carousel-id" class="carousel slide">


  <div class="carousel-inner" style="z-index:0">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="/assets/slide1.png">
      </div>
  
    <div class="item">
      <img src="/assets/slide2.png">
     
   
    </div>
    <div class="item">
      <img src="/assets/slide3.png">
      
    </div>

	<div class="item">
      <img src="/assets/slide4.png">
      
    </div>
 
  </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div></div>
            
            
       
		
</div>
</div>