<div class="row" style="padding-top:15px;">
	<div id="main">
	<div id="content">
		<h2 class="policy_title" id="top">プライバシーポリシー</h2>
		
		

		<div class="policy">
当社は、11cafe（以下「本サービス」といいます）をご利用になる方（以下「ユーザー」といいます）のプライバシーを尊重し、ユーザーの個人情報の管理に細心の注意を払い、これを取扱うものとします。
<div class="article">個人情報の取扱いについて</div>
<p>当社は、個人情報を取り扱う際に、個人情報の保護に関する法律をはじめ個人情報保護に関する諸法令、および主務大臣のガイドラインに定められた義務、並びに当社の個人情報保護方針を遵守し、これを取扱います。</p>
<div class="article">個人情報</div>
<p>個人情報とは、ユーザー個人に関する情報であって、当該情報を構成する氏名、住所、電話番号、メールアドレス、学校名その他の記述等により当該ユーザーを識別できるものをいいます。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、結果的にユーザー個人を識別できるものも個人情報に含まれます。</p>

<div class="article">個人情報の利用目的</div>
<p>個人情報の利用目的は以下の通りです。利用目的を超えて利用することはありません。</p>
<ul>
<li>・会員の個人認証及び会員向け各種サービスの提供</li>
<li>・サービスの利用に伴う各種連絡・お知らせの配信</li>
<li>・本サービスの運用に伴う一時的なバックアップ保管</li>
<li>・各種アンケート、キャンペーン等への応募受付及び当選者への連絡、プレゼント発送</li>
<li>・記事作成等におけるモニターや取材対象者の応募受付及び対象者への連絡</li>
<li>・別途ご同意いただいたユーザーへの取材、アンケート要請のご連絡</li>
<li>・本サービスに関するご意見、お問い合わせへの回答</li>

<div class="article">個人情報提供の任意性</div>
本サービスの各サービスの実施においてそれぞれ必要となる項目を入力いただかない場合は、各々のサービスを受けられない場合があります。

<div class="article">個人情報の第三者への提供</div>
<p>当社は、原則として、ユーザーご本人の同意を得ずに個人情報を第三者に提供しません。提供先・提供情報内容を特定したうえで、ユーザーの同意を得た場合に限り提供します。ただし、以下の場合は、関係法令に反しない範囲で、ユーザーの同意なく個人情報を提供することがあります。</p>
<ul>
<li>・ユーザーが第三者に不利益を及ぼすと判断した場合</li>
<li>・公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ユーザーご本人の承諾を得ることが困難である場合</li>
<li>・国の機関若しくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で、ユーザーご本人の同意を得ることによりその事務の遂行に支障を及ぼすおそれがある場合</li>
<li>・裁判所、検察庁、警察、弁護士会、消費者センターまたはこれらに準じた権限を有する機関から、個人情報についての開示を求められた場合</li>
<li>・ユーザーご本人から明示的に第三者への開示または提供を求められた場合</li>
<li>・法令により開示または提供が許容されている場合</li>
<li>・利用目的の達成に必要な範囲内において個人情報取扱い業務の一部または全部を委託する場合</li>
<li>・合併その他の事由による事業の承継に伴い個人情報を提供する場合であって、承継前の利用目的の範囲で取り扱われる場合</li></ul>

<div class="article">第三者提供に関する免責事項</div>
<p>以下の場合、第三者による個人情報の取得に関し、当社は何らの責任を負いません。</p>
<ul>
<li>・本サービスに入力した情報により、期せずして本人が特定できてしまった場合</li>
<li>・本サービスからリンクされる外部サイトにおいて、ユーザーより個人情報が提供され、またそれが利用された場合</li>
<li>・活動情報またはその他のユーザーが本サービスに入力した情報により、期せずして本人が特定できてしまった場合</li>
<li>・ユーザーご本人以外がユーザー個人を識別できる情報（ID・パスワード等）を入手した場合</li></ul>

<div class="article">個人情報処理の外部委託</div>
<p>当社は、個人情報取扱い業務の一部または全部を外部委託することがあります。なお、委託先における個人情報の取り扱いに関する適切な管理、監督を行います。 </p>

<div class="article">統計処理されたデータの利用</div>
<p>当社は、提供を受けた個人情報をもとに、個人を特定できないよう加工した統計データを作成することがあります。個人を特定できない統計データについては、当社は何ら制限なく利用することができるものとします。</p>

<div class="article">個人情報の正確性</div>
<p>当社は、ご提供いただいた個人情報を正確にデータ処理するように努めます。ただし、ご提供いただいた個人情報の内容が正確かつ最新であることについては、ユーザーが責任を負うものとします。</p>

<div class="article">個人情報の変更等</div>
<p>原則としてユーザー本人に限り、「個人情報の利用目的」の通知、登録した個人情報の開示、訂正、追加または削除、利用停止、ならびに第三者への提供の停止を求めることができるものとします。具体的な方法についてはこちら。
ただし、ユーザー本人または第三者の生命、身体、財産その他の権利・利益を害するおそれがある場合、本サービスの適正な実施に著しい支障を及ぼすおそれがある場合、他の法令に違反することとなる場合には、開示に応じないことがあります。
また、当該個人情報の利用停止・第三者への提供の停止（以下「利用停止等」といいます）に多額の費用を要する場合その他の利用停止等を行うことが困難な場合であって、ユーザーの権利・利益を保護するため必要なこれに代わるべき措置をとるときは、利用停止等に応じないことがあります。</p>

<div class="article">機微な個人情報の取得制限</div>
<p>当社は、次に示す内容を含む個人情報の取得は原則として行いません。ただし、ユーザーが自ら提供した場合は、この限りではありません。</p>
<ul>
<li>・信条及び宗教に関する事項</li>
<li>・人種、民族、門地、本籍地（所在都道府県に関する情報を除く）、身体・精神障害、犯罪歴、その他社会的差別の原因となる事項</li>
<li>・勤労者の団結権、団体交渉及びその他団体行動の行為に関する事項</li>
<li>・集団示威行為への参加、請願権の行使、及びその他政治的権利の行使に関する事項</li>
<li>・保健医療及び性生活</li></ul>

<div class="article">個人情報の管理について</div>
当社は、その管理下にある個人情報の紛失、誤用、改変を防止するために、適切なセキュリティ対策の実施に努めています。個人情報は、一般の利用者がアクセスできない安全な環境下に保管しています。

<div class="article">本人確認について</div>
<p>当社は、各Webサービスへの会員登録や会員がサービスを利用する場合、個人情報の開示、訂正、削除もしくは利用停止の求めに応じる場合など、個人を識別できる情報（氏名、住所、電話番号、生年月日、メールアドレス、会員番号、パスワードなど）により、本人であることを確認します。ただし、本人以外が個人を識別できる情報を入手し使用した場合、当社は責任を負いません。</p>

<div class="article">個人を特定しない属性情報・行動履歴の取得及び利用について</div>
<p>当社は、ユーザーのプライバシーの保護、利便性の向上、広告の配信、及び統計データの取得のため、Cookieを使用します。また、当社は、CookieやJavaScript等の技術を利用して、会員登録時等にご提供いただいた情報のうち年齢や性別、職業、居住地域など個人が特定できない属性情報（組み合わせることによっても個人が特定できないものに限られます）や、サイト内におけるユーザーの行動履歴（アクセスしたURL、コンテンツ、参照順等）を取得することがあります。ただし、Cookie及び行動履歴には個人情報は一切含まれません。</p>

<div class="article">プライバシーポリシーの変更</div>
<p>当社は、法令等の定めがある場合を除き、プライバシーポリシーを随時変更することができるものとします。</p>
<p class="to_top"><a href="#top">トップへ</a></p>

	</div>	
	</div>
	</div>