<div class="row" style="padding-top:15px;">
	<div id="main">

         <table cellpadding="0" cellspacing="0" border="0" class="top_table"><tbody>
      
     <tr><td class="cafe_page_title">Today's Matching</td></tr>
     <tr><td class="cafe_page_timer" id="Time"></td></tr>
       </tbody></table>
	   
       <%if !@matches[0].nil? && @matches[0]["match_clicked"]==1 && (!@match_selected || @match_selected==0 || @match_selected==@matches[0].id) && @chosen_match && @chosen_match[:id] && @chosen_match[:id].eql?(@matches[0].id.to_s)%>
			<%sel_rating=0%>
	   <%elsif !@matches[1].nil? && @matches[1]["match_clicked"]==1 && (!@match_selected || @match_selected==0 || @match_selected==@matches[1].id) && @chosen_match && @chosen_match[:id] && @chosen_match[:id].eql?(@matches[1].id.to_s)%>
			<%sel_rating=1%>
	   <%end%>
		<%if sel_rating.nil?%>
			<%if @matches[0]["match_clicked"]==1 && (!@matches[1] || @matches[1]["match_clicked"]==0)%>
				<%sel_rating=0%>
			<%elsif @matches[1] && @matches[1]["match_clicked"]==1 && @matches[0]["match_clicked"]==0%>
				<%sel_rating=1%>
			<%end%>
		<%end%>
	<%match = @matches[0]%>
		<table id="left_person"><tbody>
        <tr>
					<%if !match.nil? && match["match_clicked"]==1%>
						<td class="person_img_bottom">
						<%if !@match_selected || @match_selected==0 || @match_selected==match.id%>
							
						   
								<%=link_to image_tag("/members/get_picture_match/1?type=t&match=#{match[:id]}",
								:size=>"220x230"), choose_match_path({:match => match.id})%> 
								 <%if @chosen_match && @chosen_match[:id] && @chosen_match[:id].eql?(match.id.to_s)%>
										<img src="/assets/tri_green.png" class="tri_green_left">
									<%end%>
						<%else%>
							<%=image_tag("/members/get_picture_match/1?type=t&match=#{match[:id]}",:size=>"220x230") %>
					   <%end%>
					<%else%>
						<td class="person_img">
						<%if sel_rating && sel_rating==1 && !@rating[sel_rating]%>
							<%=image_tag("/assets/hearts_m.png", :size=>"220x298")%>
						<%else%>
							<%=link_to image_tag("/assets/hearts_m.png", :size=>"220x298"), choose_match_path({:match => match.id})%>
						<%end%>
					<%end%>
					
        </td></tr>
		<%if !match.nil? && match["match_clicked"]==1 && !@match_selected && @rating[0]%>	
							<%=form_tag ({:action => "like_match", :controller => "membersAmCafe", :method => :post}) do %>
								<input type='hidden' name='id' value='<%=match.id%>'></input>
								<input type='hidden' name='email' value='<%=@ses[:email]%>'></input>
								<tr><td class="like_button">
								<input class="orange button" value="Like!" onclick='' id="like_button" type="submit"></td></tr>
			
			<%end%>
			<%else%>
				<tr><td class="like_button">&nbsp;</td>
		<%end%>
        </tbody></table>					
           
		<%match = @matches[1]%> 
        <table id="right_person">
	<tbody>
        <tr>
						<%if !match.nil? && match["match_clicked"]==1%>
							<td class="person_img_bottom">
							<%if !@match_selected || @match_selected==0 || @match_selected==match.id%>
								
								
								<%=link_to image_tag("/members/get_picture_match/1?type=t&match=#{match[:id]}",
								:size=>"220x230"), choose_match_path({:match => match.id})%> 
								<%if @chosen_match && @chosen_match[:id] && @chosen_match[:id].eql?(match.id.to_s)%>
									<img src="/assets/tri_green.png" class="tri_green_right">
								<%end%>
							<%else%>
								<%=image_tag("/members/get_picture_match/1?type=t&match=#{match[:id]}",:size=>"220x230") %>
							<%end%>
						<%else%>
							<%if !match.nil? %>
								<td class="person_img">
								<%if sel_rating && sel_rating==0 && !@rating[sel_rating]%>
									<%=image_tag("/assets/clubs_m.png", :size=>"220x298")%>
								<%else%>
									<%=link_to image_tag("/assets/clubs_m.png", :size=>"220x298"), choose_match_path({:match => match.id})%>
								<%end%>
							<%else%>
								<td class="person_img">
								<a href="/11amcafe"><img src="/assets/clubs_m.png" width="220" height="298"></a>
							<%end%>
						<%end%>
                </td></tr>
				<%if !match.nil? && match["match_clicked"]==1 && !@match_selected && @rating[1]%>
			
									<%=form_tag ({:action => "like_match", :controller => "membersAmCafe", :method => :post}) do %>
										<input type='hidden' name='id' value='<%=match.id%>'></input>
										<input type='hidden' name='email' value='<%=@ses[:email]%>'></input>
										<tr><td class="like_button">
										<input class="orange button" value="Like!" onclick='' id="like_button" type="submit"></td></tr>
					
					<%end%>
					<%else%>
						<tr><td clas="like_button">&nbsp;</td>
				<%end%>
        </tbody>
</table>
    

         <%if @chosen_match && @chosen_match[:id]%> 
		  <div class="main_profile">
                                      
            <table class="basic_table" cellpadding="0" cellspacing="0" border="0"><tbody>                 
            <tr>
            	<td colspan="2">
						<h4>基本情報</h4>
              </td>
            </tr>
				
			<tr>
				<th class="th_basic"><%=t(:name)%></th>
				<td class="cafe_personal_text basic"><%=@match_user["name"]%></td>
			</tr>
			<tr>
				<th class="th_basic"><%=t(:date_of_birth)%></th>
				<td class="cafe_personal_text basic"><%=MemberHelper.age(@match_user["birthdate"])%>(歳)</td>
			</tr>
			<tr>
				<th class="th_basic"><%=t(:city_field)%></th>
				<td class="cafe_personal_text basic"><%=(@match_user["city"] ? I18n.t(@match_user["city"].to_s): "")%></td>
			</tr>
			<tr>
				<th class="th_basic">血液型</th>
				<td class="cafe_personal_text basic"><%=@match_user["bloodType"]%>型</td>
			</tr>
			<!--<tr>
				<th class="th_basic">星座</th>
				<td class="cafe_personal_text basic">しし座</td>
			</tr> -->
			<%if @match_found && @match_found[:show_phone]%>
			<tr>
				<th class="th_basic"><%=t(:phone_field)%></th>
				<td class="cafe_personal_text basic"><%=@match_user["phone"]%></td>
			</tr>
			<%end%>
			<%if @match_found && !@match_found[:show_phone]%>
			<tr><th class="th_basic"><%=t(:have_match_text)%> </th>
			<td class="cafe_personal_text_basic">			
			
			<%=button_to t(:buy_phone_text), { :action => "get_match_phone", :controller => "membersAmCafe", :id => @match_found[:id], :email => @ses[:email] }, :method => :post, :class=>"orange button"%>
					
				</td></tr>
			<%end%>
            <tr><td colspan="2"><h4>写真</h4></td></tr>
             <tr>
            	<td colspan="2" class="photo_album">
					<%=MemberHelper.show_pictures_carousel(@ses[:email],@chosen_match[:id])%>
                 </td></tr> 
                 
                                	<tr><td colspan="2"><h4>評価</h4></td></tr>
                            <tr><td colspan="2">
	
<%=form_tag ({:action => "save_rating", :controller => "membersAmCafe", :method => :post}) do %>
<input type="hidden" name="email" value="<%=@ses[:email]%>">
<input type="hidden" name="chosen_match" value="<%=@chosen_match[:id]%>">
 <table class="assesment_table" cellpadding="0" cellspacing="0" border="0"><tbody>
<tr>
 <td class="radio_button blue_level"></td>
 <td class="radio_button blue_level"><input type="radio" name="rating" value="1" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==1%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button border blue_level"><input type="radio" name="rating" value="2" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==2%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button yellow_level"><input type="radio" name="rating" value="3" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==3%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button yellow_level"><input type="radio" name="rating" value="4" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==4%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button border yellow_level"><input type="radio" name="rating" value="5" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==5%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button"><input type="radio" name="rating" value="6" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==6%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button"><input type="radio" name="rating" value="7" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==7%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button border"><input type="radio" name="rating" value="8" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==8%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button pink_level"><input type="radio" name="rating" value="9" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==9%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button pink_level"><input type="radio" name="rating" value="10" <%if @rating[sel_rating] && @rating[sel_rating][0].rating==10%> checked<%end%><%if @rating[sel_rating]%> disabled="true"<%end%>></td>
 <td class="radio_button pink_level"></td>
 </tr>
 <tr>
 <td class="blue_level"></td>
 <td class="blue_level">1</td>
 <td class="border blue_level">2</td>
 <td class="yellow_level">3</td>
 <td class="yellow_level">4</td>
 <td class="border yellow_level">5</td>
 <td class="">6</td>
 <td class="">7</td>
 <td class="border">8</td>
 <td class="pink_level">9</td>
 <td class="pink_level">10</td>
 <td class="pink_level"></td>
 </tr>
 <tr>
 <td colspan="3" class="comment border blue_level">ごめんなさい…</td>
 <td colspan="3" class="comment border yellow_level">う～ん</td>
 <td colspan="3" class="comment border">気になる～</td>
 <td colspan="3" class="comment pink_level">いいね！</td>
 </tr>
<%if !@rating[sel_rating]%><tr><td colspan="12" align="center" style="width:100%"><input type="submit" value="<%=I18n.t(:rate_user)%>" class="orange button"></td></tr><%end%>
 </tbody>
 </table>
 
<%end%>
</td>
</tr>	
                 
            
		  </tbody></table>
                                
                    <table class="keyword_table_sm" cellpadding="0" cellspacing="0" border="0"><tbody>
							<tr><td colspan="2"><h4>キーワード</h4></td></tr>
						
								<tr>
									<th class="iam_s">私は</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "i_am")%></td>
								</tr>
								<tr>
									<th class="ilike_s">好きなこと</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "i_like")%></td>
								</tr>
								<tr>
									<th class="ihate_s">嫌いなこと</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "i_hate")%></td>
								</tr>
								<tr>
									<th class="ihave_s">持ちもの</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "i_have")%></td>
								</tr>
								<tr>
									<th class="iwant_s">欲しいもの</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "i_want")%></td>
								</tr>
								<tr>
									<th class="book_s">好きな本/漫画</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "a_book")%></td>
								</tr>
								<tr>
									<th class="music_s">好きな音楽</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "my_music")%></td>
								</tr>
								<tr>
									<th class="movie_s">好きな映画</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "a_movie")%></td>
								</tr>
								<tr>
									<th class="food_s">好きな食べ物</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "food")%></td>
								</tr>
								<tr>
									<th class="job_s">仕事</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "my_job")%></td>
								</tr>
								<tr>
									<th class="loveis_s">愛とは</th>
									<td class="cafe_keyword_text"><%=MemberHelper.category_in_a_list(@match_user, "love_is")%></td>
								</tr>
				   </tbody></table>	
                                
	  </div>	
            
       
      <%else%>     
        <div class="tutrial" id="tutorial">
        <div id="this-carousel-id" class="carousel slide">


  <div class="carousel-inner" style="z-index:0">
	<div class="item active">
      <img src="/assets/slide.png">
  </div>
	<div class="item">
      <img src="/assets/slide3.png">
    
    </div>

	<div class="item">
      <img src="/assets/slide4.png">
    
    </div>
 
  </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel --></div>
	<%end%>
</div><!--main-->
</div><!-- class row-->
