<div class="row" style="padding-top:15px;">
	<div id="main">
	<div id="content">
		<%if flash[:notice]%>
		<div class="alert alert-success">
		<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:notice]%>
		</div>
		<%end%>
		<%if flash[:error]%>
		<div class="alert alert-error">
			<a class="close" href="#" data-dismiss="alert">&times;</a>
		<%=flash[:error]%>
		</div>
		<%end%>
		<h2 class="title">携帯メールアドレス認証</span></h2>		
	
	    <table id="activation_table" cellpadding="0" cellspacing="0" border="0">
			<tbody>
<%= form_tag validate_email_web_path, :method => :get do%>
<%= hidden_field_tag "email", @ses[:email]%>	
				<tr><td class="instruction">携帯メールに送られてきた認証コードを入力してください。</td></tr>
               
				<tr><td><input class="inputtext_act" name="code" type="text" placeholder="認証コード"></td></tr>
                
				<tr><td class="td_recover_button">
                <input class="orange button" id="submit_code_button" type="submit" value="認証コードを送信する"></td></tr>

                <tr><td class="warning">au、DoCoMo、SoftBankの携帯メールアドレスを入力してください。<br>
                ドメイン指定受信を設定されている方は「11amcafe.com」を受信できるように設定してください。</td></tr>
<%end%>
<%=form_tag send_email_validation_path, :method => :get do%>
<%= hidden_field_tag "email", @ses[:email]%>
			 	<tr><td class="instruction">確認メールを再送信する場合、パスワードを入力して再送信ボタンをクリックしてください。</td></tr>
				<tr><td><%= password_field_tag "password","", :class=>"inputtext_act" %></td></tr>
				<tr><td class="td_recover_button">
                <input class="orange button" id="resend_email_button" type="submit" value="確認メールを再送信する"></td></tr>

<%end%>

			</tbody>
		</table>
		
	</div>
	</div>
</div>




