
<table>
<thead>
<tr>
	<th>ID</th>
	<th>E-Mail</th>
	<th>Match E-Mail</th>
	<th>Visited Date</th>
	<th>Clicked</th>
	<th>Active</th>
	<th>Created Date</th>
</tr>
<tbody>
<%@matches.each do |match|%>
	<tr>
		<td><%=match.id%></td>
		<td><%=match.email%></td>
		<td><%=match.match_email%></td>
		<td><%=match.visited_date%></td>
		<td><%=match.match_clicked%></td>
		<td><%=match.active%></td>
		<td><%=match.created_at%></td>
	</tr>
<%end%>
</tbody>
</table>