
<%if flash[:notice]%>
<div class="alert alert-success">
<a class="close" href="#" data-dismiss="alert">&times;</a>
<%=flash[:notice]%>
</div>
<%end%>
<%if flash[:error]%>
<div class="alert alert-error">
	<a class="close" href="#" data-dismiss="alert">&times;</a>
<%=flash[:error]%>
</div>
<%end%>
<table>
	<tr><td>
		<%=label_tag "email", t(:user_id)%></td><td>
	<%=text_field_tag "email", @ses[:email], :disabled => true%></td></tr>
</table>

<h3><%=t(:change_your_password)%></h3>
<br/>
<%=form_tag save_admin_new_password_path, :method=>:post do%>
<%=hidden_field_tag "user[email]", @ses[:email]%>
<table>
	<tr><td><%=label_tag "user_password", t(:old_password)%></td><td>
	<%=password_field_tag "user[password]"%></td></tr>
	<tr><td><%=label_tag "user_new_password", t(:new_password)%></td><td>
	<%=password_field_tag "user[new_password]"%></td></tr>
	<tr><td><%=label_tag "user_new_password2", t(:confirm_password)%></td><td>
	<%=password_field_tag "user[new_password2]"%></td></tr>
</table>
	<%=submit_tag t(:save)%>
<%end%>
