<%if @user_gender && @user_gender.eql?("female")%>
<%url="/admin/show_invalid_female_users"%>
<%else%>
<%url="/admin/show_invalid_male_users"%>
<%end%>
<%=form_tag url, :method=>:get do%>
<%=select_tag "email", options_for_select(@all_users)%>
<%=submit_tag "GO"%>
<%end%>

<table>
	<tr><td class="category-title borderbottom"><%=t(:category_i_am)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "i_am")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_i_like)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "i_like")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_i_hate)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "i_hate")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_i_have)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "i_have")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_i_want)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "i_want")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_a_book)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "a_book")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_my_music)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "my_music")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_a_movie)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "a_movie")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_food)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "food")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_love_is)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "love_is")%></td></tr>
	<tr><td class="category-title borderbottom"><%=t(:category_my_job)%>: </td><td class="borderbottom category_value"><%=MemberHelper.category_in_a_list(@user, "my_job")%></td></tr>
</table>

<%if @user && @user["email"]%>
<table cellspacing="0" cellpadding="0">
<tr>
	<td><%=link_to image_tag("/admin/get_user_picture/1?type=t&email="+@user["email"], :size=>"210x280"),"/admin/get_user_picture/1?email="+@user["email"], :target => "blank" %></td>
	<td><%=link_to image_tag("/admin/get_user_picture/2?type=t&email="+@user["email"], :size=>"210x280"),"/admin/get_user_picture/2?email="+@user["email"], :target => "blank" %></td>
	<td><%=link_to image_tag("/admin/get_user_picture/3?type=t&email="+@user["email"], :size=>"210x280"),"/admin/get_user_picture/3?email="+@user["email"], :target => "blank" %></td>
	<td><%=link_to image_tag("/admin/get_user_picture/4?type=t&email="+@user["email"], :size=>"210x280"),"/admin/get_user_picture/4?email="+@user["email"], :target => "blank" %></td>
	<td><%=link_to image_tag("/admin/get_user_picture/5?type=t&email="+@user["email"], :size=>"210x280"),"/admin/get_user_picture/5?email="+@user["email"], :target => "blank" %></td>
</tr>
<%end%>
</table>
<table cellspacing="20px" cellpadding="20px">
	<tr><td><%=form_tag validate_user_path, :method=>:post do%>
		<%=hidden_field_tag "email", (@user && @user["email"])? @user["email"] : ""%>
		<%=hidden_field_tag "gender", (@user_gender) ? @user_gender : ""%>
		<%=submit_tag "Validate"%>
		<%end%></td><td><%=form_tag reject_user_path, :method=>:post do%>
		<%=hidden_field_tag "email", (@user && @user["email"])? @user["email"] : ""%>
		<%=hidden_field_tag "gender", (@user_gender) ? @user_gender : ""%>
		<%=submit_tag "Reject"%>
		<%end%></td>
	</tr>
</table>