.s{
	font-size:10px;
	vertical-align:super;
}
.meiryo{
	font-family:meiryo;
}
#main{
	padding-bottom:15px;
}


/* table_up styles
-------------------------------------*/
#activation_table{
margin:0px auto;
margin-top:130px;
margin-bottom:60px;

}
.inputtext_act {
border-radius:4px;
width:390px;
height:20px;
line-height:20px;
color:#999;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
border:1px solid #bdc7d8;
font-size:12px;
padding:4px;
margin-top:10px;
}
.instruction{
display:block;
color:#5D8B23;
font-size:12px;
line-height:1.2em;
width:400px;

}
.warning{
display:block;
color:#CC3333;
font-size:11px;
line-height:1.2em;
width:400px;
padding-top:20px;
padding-bottom:110px;
}





/*button-------------------------------------------*/

#submit_code_button{
display:block;
width:400px;
height:3em;

margin-top:10px;
}
#resend_email_button{
width:400px;
height:3em;
display:block;
margin-top:10px;
}





#restart_button{
display:block;
width:400px;
height:3em;
margin-top:10px;
}