@charset "utf-8";
/* CSS Document */

* {
font-style:normal;
margin:0px;
padding:0px;
}
html{
height:100%;
width:100%;
margin:0px;
padding:0px;
}
.main_top{
font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic Pro",Meiryo,"MSPGothic",sans-serif;
font-size:75%;
background-color:#40B8E5;
height:100%;
width:100%;
margin:0px;
padding:0px;
color:#555;
}

/*-----header----------------*/
.brand img {
margin-top:8px;
}
.down li a {
	margin-top:4px;
}
/*link styles----------------*/
.to_top{
	text-align:right;

}