﻿
/* main styles（薄青の部分） #D3F4F8
--------------------------------------*/
#main{
width:940px;
margin:0px auto;
margin-top:30px;
background-color:#52BCED;
padding-top:15px;
padding-bottom:15px;
position:relative;
}
/* content styles(白い部分）
--------------------------------------*/
#content {
width:910px;
margin:0px auto;
background-color:#ffffff;
border-radius:4px;
border:solid 1px #6B9FC3;
padding-top:10px;
position:relative;
}

/* page title styles-----------------*/
.title{
font-size:30px;
padding-left:130px;
position:relative;
top:40px;
color:#555;
}
.page{
padding-bottom:50px;
}
.page_title2{
font-size:30px;
padding-left:30px;
padding-bottom:50px;
position:absolute;
top:40px;
color:#555;
}
.policy_title{
	padding-top:50px;
	margin-left:20px;
	font-size:30px;
	color:#555;
}