﻿.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% meiryo,Arial, Helvetica, sans-serif;
	padding: .5em 1.8em .5em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-top:3px;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* orange --------------------------------*/
.orange {
	color: #33333E;
	border: solid 1px #FBAE3A;
	background: #FED547;
	background: -webkit-gradient(linear, left top, left bottom, from(#FEE149), to(#FD9814));
	background: -moz-linear-gradient(top,  #FEE149,  #FD9814);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');*/
}
.orange:hover {
	background: #faa51a;
	background: -webkit-gradient(linear, left top, left bottom, from(#FED547), to(#EC8B11));
	background: -moz-linear-gradient(top,  #FED547,  #EC8B11);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');*/
}
.orange:active {
	color: #33333E;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');*/
}
/* blue ------------------------------------*/
.blue {
	color: #fff;
	border: solid 1px #0883D2;
	background: #049DD4;
	background: -webkit-gradient(linear, left top, left bottom, from(#30B9ED), to(#049DD4));
	background: -moz-linear-gradient(top,  #30B9ED,  #049DD4);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');*/
}
.blue:hover {
	background: #2BABDB;
	background: -webkit-gradient(linear, left top, left bottom, from(#2BABDB), to(#0271BF));
	background: -moz-linear-gradient(top, #2BABDB,  #0271BF);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');*/
}
.blue:active {
	background: #2BABDB;
	background: -webkit-gradient(linear, left top, left bottom, from(#2BABDB), to(#0271BF));
	background: -moz-linear-gradient(top, #2BABDB,  #0271BF);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');*/
}
