@charset "utf-8";
/* CSS Document */
/*person-----------------------------------------------*/



.like_button{
	width:447px;
	height:60px;
	vertical-align:top;
}

.tri_green_left{
position:absolute;
left:185px;
top:460px;
}
.tri_green_right{
position:absolute;
right:185px;
top:460px;
}


/* main profile table--------------------------------------*/

.main_profile{
	
	display:block;
	padding-top:30px;
    padding-left:30px;

	background-color:#fff;
	border:solid 15px #E6F8F6;
	border-bottom:solid 15px #E6F8F6;
margin-top:400px;
margin-left:15px;
margin-right:15px;
border-radius:5px;
}

.main_profile h4{
	color:#FE5156;
	font-size:22px;
	font-weight:900;
	border-bottom:solid 1px #FE5156;
	line-height:2em;
	padding-left:0px;
	padding-top:20px;
	margin:0px;
	margin-bottom:15px;
}
.basic_table{
	width:380px;
	float:left;
	margin-right:60px;
	
}
.basic_table th{
	width:70px;
	color:#FE5156;
	font-weight:500;
	text-align:right;
	/*border-bottom:solid 1px #DCDCDC;*/
	border-bottom:solid 1px #E6F8F6;
	line-height:1.2em;
	height:40px;
	
}
.keyword_table_sm{
	width:380px;
		margin-bottom:50px;
	
}
.keyword_table_sm th{
	width:70px;
	border-bottom:solid 1px #E6F8F6/*#84E2DA*/;
	
	vertical-align:bottom;
	font-size:8px;
	color:#FE5156;
	font-weight:normal;
	padding-bottom:7px;
}

.cafe_personal_text{
	border-bottom:solid 1px #E6F8F6;
	color:#444;
	vertical-align:middle;
	padding-right:25px;
	padding-left:25px;
}
.cafe_keyword_text{
	border-bottom:solid 1px #E6F8F6;
	padding-left:5px;
}
.keyword_table_sm td{
	vertical-align:middle;
	height:70px;
	color:#444;
}
.keyword_table td{
	vertical-align:middle;
	height:70px;
	color:#444;
}
/*keyword ------------------------------------*/
.iam_s{
	background-image:url(/assets/iam_s.png);
}
.ilike_s{
	background-image:url(/assets/ilike_s.png);
}
.ihate_s{
	background-image:url(/assets/ihate_s.png);
}
.ihave_s{
	background-image:url(/assets/ihave_s.png);
}
.iwant_s{
	background-image:url(/assets/iwant_s.png);
}
.book_s{
	background-image:url(/assets/book_s.png);
}
.music_s{
	background-image:url(/assets/music_s.png);
}
.movie_s{
	background-image:url(/assets/movie_s.png);
}
.food_s{
	background-image:url(/assets/food_s.png);
}
.job_s{
	background-image:url(/assets/job_s.png);
}
.loveis_s{
	background-image:url(/assets/loveis_s.png);
}
/* photo album ---------------------------------*/
.photo_album{
	text-align:center;
} 
/*
.photo_album2{
	margin-left:0px;
	margin-right:0px;
	padding-top:20px;
	padding-bottom:0px;
}
.photo_album img{
	border:solid 5px #fff;
}
.arrow_left_grey{
position:absolute;
left:57px;
top:1050px;
}
.arrow_right_grey{
position:absolute;
left:356px;
top:1050px;
}*/
/* assesment ---------------------------------------*/	

.assesment_table{
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
}

.assesment_table td{
	width:30px;
	text-align:center;
}


.radio_button{
	padding-top:20px;
}
.comment{
	padding-bottom:20px;
}
.blue_level{
	background-color:#30B9ED;
	color:#fff;
}
.pink_level{
		background-color:#FE5156;
	color:#fff;
}
.yellow_level{
	background-color:#FEE149;
	
}

/* button styles -------------------------------------*/
#like_button{
    width:191px;
	height:2.5em;
	
	padding: 0em 1em 0em;
}
/*----------------------------------------------------*/
br { clear: both; }

.cntSeparator {
  font-size: 54px;
  margin: 10px 7px;
  color: #000;
}

.desc { margin: 7px 3px; }

.desc div {
  float: left;
  font-family: Arial;
  width: 70px;
  margin-right: 65px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
