@charset "utf-8";
/* CSS Document */
		
		
/* top table----------------------------------------------------*/
.top_table{
	width:910px;
	height:80px;
	display:block;
	background-color:#fff;
	border-radius:5px;
	margin-bottom:15px;
	margin-left:15px;
}
.top_table td{
	width:910px;
	color:#363E42;
	text-align:center;
	vertical-align:middle;
}
.cafe_page_title{
	height:35px;
	font-size:15px;	
}
.cafe_page_timer{
height:45px;
font-size:35px;
font-weight:bold;
}

/*left table -------------------------------------------*/
#left_person{
	
	width:447px;
	height:350px;
	display:block;
	border-radius:5px;
    background-color:#fff;
	float:left;
	margin-right:15px;
	margin-left:15px;
	z-index:0;	
	/*border-right:solid 15px #E6F8F6;
	border-left:solid 15px #E6F8F6;
	border-top:solid 15px #E6F8F6;
	border-bottom:solid 15px #E6F8F6;*/
}
#left_person td{
	text-align:center;
}
.person_img{
	width:447px;
	height:290px;
	vertical-align:middle;
}
.person_img_bottom{
	width:447px;
	height:290px;
	vertical-align:bottom;
}

/*.left_photo{
	margin-left:40px;
	margin-top:10px;
	margin-bottom:35px;
	border:solid 5px #fff;
}*/


/* right table -----------------------------------------*/
#right_person{
	width:447px;
	height:350px;
	display:block;
	border-radius:5px;
    background-color:#fff;
	float:right;
	margin-right:15px;
	z-index:0;
/*	border-right:solid 15px #E6F8F6;
	border-left:solid 15px #E6F8F6;
	border-top:solid 15px #E6F8F6;
	border-bottom:solid 15px #E6F8F6;*/	
}
#right_person td{
	text-align:center;
}
/* tutrial styles------------------------------------*/
.tutrial{
	width:910px;
	height:180px;
	display:block;
	margin-top:380px;
	margin-left:15px;
	display:block;
	border-radius:5px;
}

.tutrial_table{
	width:910px;
	height:200px;
	display:block;
	background-color:#485258;
	color:#fff;
	font-size:15px;
	margin-top:380px;
	margin-left:15px;
	border-radius:5px;
}
/*.tutrial_title{
	width:910px;
	height:50px;
	background-color:#363E42;
	font-weight:bold;
	padding-left:30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tutrial_text{
	padding:30px;
	line-height:1.4em;
}
.warning_text{
	padding:25px;
	padding-left:30px;
	font-size:15px;
	
}
.warning_s{
	font-size:11px;
	padding-top:10px;
}
.part_text{
	width:375px;
	padding-left:30px;
	padding-top:10px;
}
.center_text{
	text-align:center;
	padding:10px;
}
.arrow{
position:absolute;
right:20px;
top:580px;
}
.none{
	display:none;
}*/

