@charset "utf-8";
/* CSS Document */

.comment_delete{
display:block;
color:#5D8B23;
font-size:12px;
line-height:1.3em;
width:700px;
padding-bottom:50px;
padding-left:100px;
}


/* table_up styles
-------------------------------------*/
#delete_table{
margin:0px auto;
margin-top:50px;
margin-bottom:70px;
}
.inputtext_delete {
border-radius:4px;
width:390px;
height:20px;
line-height:20px;
color:#999;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
border:1px solid #bdc7d8;
font-size:12px;
padding:4px;
margin-top:10px;
}
.instruction{
display:block;
color:#5D8B23;
font-size:12px;
line-height:1.2em;
width:400px;
}
.warning_delete{
display:block;
color:#CC3333;
font-size:11px;
line-height:2em;
width:400px;

}
/* button--------------------------------------------*/

#delete_account_button{
width:400px;
height:3em;
display:block;
margin-top:10px;
}
#suspend_account_button{
width:400px;
height:3em;
display:block;
margin-top:10px;
margin-bottom:100px;
}	


