/* table styles----------------------*/

#edit_profile_table{
width:650px;
margin:0px auto;
margin-top:110px;
margin-bottom:0px;
}
#edit_profile_table2{
width:650px;
margin:0px auto;
margin-top:0px;
margin-bottom:0px;
}

#edit_profile_table3{
width:650px;
margin:0px auto;
margin-top:0px;
margin-bottom:0px;
}
.xtd {
line-height:4em;

}
.td_title{
	width:250px;
	color:#FE5156;
	border-bottom:solid 1px #E6F8F6;
}
.td_input{
	width:400px;
	border-bottom:solid 1px #E6F8F6;
}


.inputtext {
border-radius:4px;
width:350px;
height:20px;
line-height:20px;
vertical-align:bottom;
color:#999;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
border:1px solid #bdc7d8;
font-size:12px;
padding:4px;
}

	
.select{
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic Pro",Meiryo,"MSPGothic",sans-serif;
	color:#777;
	width:100px;
	vertical-align:bottom;
}


.edit_title{

	color:#84E2DA;
	font-weight:bold;
	font-size:15px;
	line-height:3.5em;
	padding-top:0px;
/*	border-bottom:#84E2DA solid 1px;*/

}
	

/*--------------------------------------------*/
#profile_save_button{
width:150px;
display:block;
height:3em;
margin:0px auto;
margin-top:20px;
margin-bottom:20px;
}




