.s{
	font-size:10px;
	vertical-align:super;
}
.meiryo{
	font-family:meiryo;
}
#main{
	padding-bottom:15px;
}

/* table styles----------------------*/
.xtd {
line-height:4em;
}
/* table_up styles
-------------------------------------*/
#forgot_password_table{
margin:0px auto;
margin-top:150px;
margin-bottom:20px;
}
.inputtext {
border-radius:4px;
width:350px;
height:20px;
line-height:20px;
color:#999;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
border:1px solid #bdc7d8;
font-size:12px;
padding:4px;
}
.fotgot_password_comment{
color:#5D8B23;
font-size:12px;
line-height:1.2em;
width:200px;
}
.td_recover_button{
	padding-top:40px;
	padding-bottom:40px;
}
/*
--------------------------------------------*/
#recover_password_button{
width:360px;
height:3em;
display:block;
/*padding-top:40px;
padding-bottom:40px;*/
}




