@charset "utf-8";
/* CSS Document */


.form_title{
	padding-top:50px;
	padding-bottom:50px;
	margin-left:100px;
	font-size:30px;
	color:#555;
}
#form{
	display:block;
	width:400px;
	/*border:solid 1px #eee;*/
	padding-top:100px;
margin:0px auto;
margin-bottom:30px;

}
li{
	list-style:none;
}
.ss-q-title{
	font-weight:bold;
}
.ss-choice-label{
	font-size:11px;
}
.ss-q-help{
	font-size:11px;
}
.note{
	padding-top:10px;
	font-size:11px;
	line-height:1.2em;
}

#form_button{
width:400px;
height:3em;
display:block;
margin-top:30px;

}
