
/*tab--------------------------------------*/
.tab-content{
	width:820px;
}
.nav-tabs{
	padding:0px;
	margin:0px;
}
.nav-tabs .active a{
	/*background-color:#0088CC;*/
	/*background-color:#FE5156;*/
	color:#FE5156;
}
/*.nav-tabs a{
	background-color:#E2B818;
	color:#fff;
}*/
/*ヘルプ　コンテント---------------------------------------*/
.help_content{
	width:820px;
	padding-top:40px;
	padding-bottom:30px;
}
.help_title{
	font-size:30px;
	font-weight:bold;
	line-height:1.5em;
	height:40px;
	padding-top:40px;
	padding-left:30px;
	padding-bottom:20px;
	
}
/*concept-------------------------------------------*/

.concept{
	display:block;
	width:520px;
	margin:0px auto;
	border:solid 1px #ddd;
	font-size:15px;
	color:#555;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
}

.concept li{
	list-style:none;
	height:30px;
	padding-top:5px;
	padding-bottom:5px;
}
.concept img{
	padding-left:20px;
	padding-right:20px;
}
.strong{
	font-weight:normal;
}
/* カップル成立の流れ------------------*/
.rule{
	width:760px;
	margin:0px auto;
	font-size:13px;
	border:solid 1px #ccc;
	padding-top:20px;
	padding-bottom:20px;
}
.stage{
	display:block;
	/*width:200px;
	height:20px;*/
	font-family:meiryo;
	padding-top:5px;
	text-align:left;
	background-color:#FE5156;
	/*background-color:#fca805;明るいオレンジ
	background-color:#F08A0A;オレンジ*/
	padding-left:10px;
	margin-right:20px;
	padding-bottom:5px;
	color:#fff;
	margin-bottom:15px;
	border-radius:5px;
	margin-left:20px;
}
.number{
	color:#FE5156;
	font-weight:bold;
	font-size:15px;
}
.flow{

	margin-left:20px;
	padding-top:0px;
	padding-bottom:0px;
	font-size:14px;
}
.space{
	margin-top:25px;
}
.reason{
	width:700px;
	line-height:1.7em;
	border-radius:4px;
	background-color:#f5f5f5;
	margin-left:20px;
	padding:10px;
	font-size:11px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:20px;
	
	
}
.text_s{
	font-size:11px;
	color:#6b9fc3;
	margin-left:30px;
}


.to_top{
	text-align:right;
	margin-right:30px;
	margin-top:10px;
	font-size:11px;
	padding-bottom:15px;

}
.to_top a{
	text-decoration:none;
	color:#aaa;
}
.contact{
	color:#FE5156;
}


	
/* faq----------------------------------*/
.faq{
	width:760px;
	margin:0px auto;
}

.accordion a{
	color:#555;
}
.accordion a:hover{
	background-color:#fe5156;
	color:#fff;
	text-decoration:none;
}
.accordion a:active{
	/*background-color:#fca805;*/
	background-color:#fe5156;
	color:#fff;
	text-decoration:none;
}
.accordion-inner{
	background-color:#e8f4fc;
	font-size:11px;
}