﻿/* color number 
#84E2DA ココアブック　濃い緑
#E6F8F6 ココアブック　薄い緑
#FE5156　ココアブック　ピンク
#FC7518　濃いオレンジ
#FBAC16　薄いオレンジ
#FFE100　夏みかん色
#6B9FC3 ボーダー青



/* text-------------------------------*/
.large_text{
font-size:15px;
font-weight:bold;
padding-right:15px;
color:#666;
}
.small_text{
	font-size:11px;
	color:#777;
}

	
/* table styles

-------------------------------------*/
.keyword_table{
width:650px;
margin:0px auto;
margin-top:30px;
	margin-bottom:0px;

}
.title_table{
	line-height:2.5em;

}
.keyword_table th{
width:125px;
color:#FE5156;
font-size:.9em;
border-top:solid 1px #E6F8F6;
	vertical-align:bottom;
	padding-bottom:25px;
	font-weight:normal;
}
/* テーブル2列目1行目（テキスト入力部分）
--------------------------------------*/
.inputSell{
padding-bottom:10px;
padding-top:10px;
border-top:solid 1px #E6F8F6;
}
.inputtext_kw{
margin-left:2px;
font-size:12px;
border-radius:4px;
width:90px;
height:14px;
line-height:14px;
color:#666;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
border:1px solid #bdc7d8;
padding:3px;
}
#essencial{
background-color:#FFEFEF;
}

/* テーブル2列目2行目（テキスト部分）
----------------------------------------------*/
.textSell{
padding-left:0px;
}
.sample{
color:#FE5156;
width:50px;
font-size:11px;
margin-left:0px;
margin-right:3px;
float:left;
line-height:1.4em;
}	
.sampleKeyword{
line-height:1.4em;
font-size:11px;
color:#aaa;
width:525px;
display:block;
padding-bottom:10px;
/*border-bottom:solid 1px #E6F8F6;*/

}

/* warning ------------------------------------*/
.warning_kw{
	padding-top:15px;
	padding-bottom:15px;
	border-top:solid 1px #E6F8F6;
	border-bottom:solid 1px #E6F8F6;
	width:650px;
	color:#666;
	
}

/* button styles -------------------------------*/
#keyword_save_button{
	display:block;
	width:250px;
	height:3em;
	margin:0px auto;
	margin-top:30px;
	margin-bottom:30px;
}
#photo_save_button{
	display:block;
	width:250px;
	height:3em;
	margin:0px auto;
	margin-top:30px;
	margin-bottom:30px;
}

/* photo area styles--------------------------*/
.photo_table{
	margin:0px auto;
	width:650px;
}
.photo_table td{
	width:216px;
}
.photo{
		display:block;
		width:210px;
		height:280px;
		border:solid 1px #ccc;
		border-radius:4px;
		color:#aaa;
				
	}
.photo_text{
	display:block;
	font-size:16px;
	font-weight:bold;
	color:#ccc;
	text-align:center;
}
.td_button{
	width:192px;
	height:35px;
	text-align:center;
	
}
.td_text{
	font-size:11px;
	text-align:center;
	padding-bottom:10px;
	color:#aaa;
}
.td_logo{
	text-align:center;
}