@charset "utf-8";
/* CSS Document */

.keyword_table .iam{
	background-image:url("/assets/iam.png");
}
.keyword_table .ilike{
	background-image:url("/assets/ilike.png");
}
.keyword_table .ihate{
	background-image:url("/assets/ihate.png");
}
.keyword_table .ihave{
	background-image:url("/assets/ihave.png");
}
.keyword_table .iwant{
	background-image:url("/assets/iwant.png");
} 
.keyword_table .abook {
	background-image:url("/assets/book.png");
}
.keyword_table .mymusic{
	background-image:url("/assets/music.png");
}
.keyword_table .amovie{
	background-image:url("/assets/movie.png");
}
.keyword_table .food{
	background-image:url("/assets/food.png");
}
.keyword_table .myjob{
	background-image:url("/assets/job.png");
}
.keyword_table .loveis{
	background-image:url("/assets/loveis.png");
}

