
.policy{
	padding-left:20px;
	padding-right:20px;
	margin-top:40px;
	margin-bottom:30px;
	color:#555;
	font-size:11px;
}
.article{
	font-size:16px;
	margin-top:30px;
	margin-bottom:15px;
}
.policy ul{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:0px;
	margin-left:0px;
}
.policy li{
	list-style:none;
}

/*--------------------------------------------*/
/*#profile_save_button{
width:150px;

display:block;
margin-top:30px;
margin-bottom:30px;
margin-left:230px;
}
*/



