@charset "utf-8";
/* CSS Document */

.signup_finish_title{
	padding-top:50px;
	padding-bottom:50px;
	margin-left:100px;
	font-size:30px;
	color:#555;
}
.comment_sf{
display:block;
color:#555;
font-size:12px;
line-height:1.5em;
width:700px;
padding-bottom:50px;
padding-left:100px;
}
.comment_small{
	display:block;
	padding-top:5px;
	padding-bottom:40px;
	font-size:11px;
}
.h2-small{
	font-size:16px;
}
.warning_signup_finish{
color:#CC3333;
font-weight:bold;
}






