@charset "utf-8";
/* CSS Document */

/* process_bar styles
------------------------------------*/
.process_bar{
width:650px;
height:31px;
border:1px solid #ccc;
margin:0px auto;
margin-top:80px;
margin-bottom:30px;
}
.process_bar td{
height:31px;
line-height:30px;
text-align:center;
}
.process{
width:140px;
}
.process_keyword{
	width:200px;

}
.onPage{
background-color:#F5F5F5;
}
.process_img_onPage{
width:12px;
background-image: url("/assets/regist_img.gif");
background-position : 0% 32%;
overflow : hidden;
}
.process_img{
width:12px;
background-image: url("/assets/regist_img.gif");
background-position :0% 65%;
overflow : hidden;
}

.process_img_2{
width:12px;
background-image: url("/assets/arrow_processbar.png");
background-position :0% 65%;
overflow : hidden;
}

.alert{
    background-color:#fff;
	border-left:none;
	border-right:none;
	width:560px;
	margin:0px auto;
}