


/* table styles
-------------------------------------*/

#signup_table{
margin:0px auto;
width:650px;
background-color:#f5f5f5;
border-radius:4px;
margin-top:30px;
}

.xtd {
line-height:4em;
}
.inputtext {
border-radius:5px;
width:350px;
height:20px;
line-height:20px;
color:#999;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
/*border:1px solid #bdc7d8;*/
font-size:12px;
padding:4px;
margin-top:7px;
}

.td_input{
padding-right:30px;
width:200px;
text-align:right;
}

select#user_birthdate_1i,
select#user_birthdate_2i,
select#user_birthdate_3i,
.select {
width:100px;
margin-top:5px;
border-width:1px;
border-width-value:1px;
border-style:solid;
border-color:#bdc7d8;
border-color-value:#bdc7d8;
font-family: "lucida grande",tahoma,verdana,arial,'Hiragino Kaku Gothic Pro',Meiryo,'MS PGothic',sans-serif;
font-size: 11px;
padding:2px;
}
/* second table -------------------------------*/
#second_table{
	width:650px;
	margin:0px auto;
}
.keep_login{
padding-left:5px;
}

.privacy_policy{
padding-top:15px;
padding-bottom:15px;
padding-left:20px;
padding-right:20px;
line-height:1.5em;
font-size:11px;
background-color:#fff;
}
.privacy_policy a{
color:#69B4E9;
}
#recap {
	display:block;
	margin:0px auto;
	
}
/*--------------------------------------------*/
#signup_button{
width:360px;
display:block;
height:3em;
margin:0px auto;
margin-top:40px;
margin-bottom:40px;
}




