﻿.top_timer{
	position:relative;
	top:420px;
	left:250px;
	font-weight:bold;
	color:#fff;
	font-size:26px;
	font-family:arial;
	z-index:1;
}
.top_timer2{
	position:relative;
	top:450px;
	left:80px;
	/*font-weight:bold;*/
	color:#fff;
	font-size:37px;
	font-family:arial;
	z-index:1;
}
	
/* signin field style
----------------------------------------------*/
.signin {
background-color:#ffffff;
border-radius:4px;
background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
}
.signin td{
	padding-left:15px;
	padding-right:15px;
}

.forgot{
    margin-left:5px; 
	padding-bottom:7px;
	font-size:11px;
	vertical-align:middle;
}
.remember{
	font-size:11px;
	float:left;
}

.inputtext {
width:260px;
height:20px;
line-height:20px;
color:#666;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
border:1px solid #bdc7d8;
font-size: 13px;
padding:4px;
border-radius:4px;
margin-top:10px;

}

.inputtext_small {
width:155px;
height:20px;
line-height:20px;
color:#999999;
text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
font-size: 13px;
padding:4px;
border-radius:4px;
float:left;
margin-right:10px;
}

/*textarea:focus {
border-color:#40B8E5;
-webkit-box-shadow: 0px 0px 6px rgba(51,102,255,.7);
-moz-box-shadow: 0px 0px 6px rgba(255,15,135,.7);
box-shadow: 0px 0px 6px rgba(51,102,255,.7);}
}*/

/*------------------------------signup-------------------*/

.signup {
background-color:#ffffff;
border-radius:4px;
background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
}
.signup td{
	padding-left:15px;
	padding-right:15px;
}
.signup_text {
margin-top:10px;
margin-bottom:15px;
padding-bottom:5px;
border-bottom:solid 1px #dddddd;
color:#333;
font-size:16px;
font-weight:500;
line-height:1em;
}
.s{
	font-size:8px;
	vertical-align:super;
}
#signup_warning {

font-size:11px;
line-height:1.5em;
}
/*footer-----------------------------------*/
#footer li {
	width:100px;
	height:30px;
	list-style:none;
	float:left;
	margin-top:10px;
}
#footer li a{
	width:100px;
	height:30px;
	text-decoration:none;
	color:#DCEBED;
}
#footer li a:hover{
	color:#fff;
}
.copyright{
	width:300px;
	font-size:9px;
	color:#DCEBED;
}
	
/* button--------------------------------*/
#top_signup_button{
width:270px;
height:30px;
line-height:18px;
margin-bottom:10px;
margin-top:15px;

}
#login_button{
	width:95px;
	height:30px;
	line-height:18px;
	margin-top:0px;
	
}

