<!DOCTYPE html>
<html>
<head>
  <title>ElevenAMCafe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		font: small 100% "Ryumin Light-KL";
		background-color: #40B8E5;
      }
	  .item {
		width:200px;
		height:200px;
	  }
   </style>

</head>
<body>
	<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid row-fluid">
			
	          <div class="nav-collapse span10">
		  <%=link_to '11AMCafe', welcome_path, :class =>'brand'%>
	            <ul class="nav">
				  <li <%if params[:action].eql?("admin_profile")%>class="active"<%end%>><%=link_to t(:edit_basic_data), admin_profile_path%></li>
				  <li <%if params[:action].eql?("show_invalid_male_users")%>class="active"<%end%>><%=link_to t(:pending_male_validations), show_invalid_male_users_path%></li>
				 <li <%if params[:action].eql?("show_invalid_female_users")%>class="active"<%end%>><%=link_to t(:pending_female_validations), show_invalid_female_users_path%></li>
				  </ul>
	          </div><!--/.nav-collapse -->
			  <div class="span2 offset2">
				<ul class="nav">
  				  <li><%=link_to t(:logout), logout_path%></li>
				  <%if !params[:action].eql?("show_matches")%>
				  <li><a id="Time" href="#"></a></li>
				  <%end%>
				</ul>
			  </div>
	        </div>
	      </div>
	    </div>

	    <div class="container-fluid">
			<%= yield %>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<script src="js/jquery.ah-placeholder.js"></script>
		<!-- ↓ah-placeholder.js の実行↓ -->
		<script>
		$(function() {
		  $('[placeholder]').ahPlaceholder({
		    placeholderColor : 'silver',
		    placeholderAttr : 'placeholder',
		    likeApple : true
		  });
		});
		</script>
</body>
</html>