﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
<title>11amCafe - 私たちの一期一会-</title>
	
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	<script>
	var TotalSeconds = <%= @time_to_rematch ? @time_to_rematch : 24*60*60%>;
	function countdown() {
		setTimeout('Decrement()',1);
	}
	function Decrement() {
		if (document.getElementById) {
			timex = document.getElementById("Time");
				var Seconds = TotalSeconds;

				    var Days = Math.floor(Seconds / 86400);
				    Seconds -= Days * 86400;

				    var Hours = Math.floor(Seconds / 3600);
				    Seconds -= Hours * (3600);

				    var Minutes = Math.floor(Seconds / 60);
				    Seconds -= Minutes * (60);
				if ((typeof (timex.textContent) != "undefined")){
	      			timex.textContent = LeadingZero(Hours) + ":" + LeadingZero(Minutes) + ":" + LeadingZero(Seconds);
			    }
			    else{
	      			timex.innerText = LeadingZero(Hours) + ":" + LeadingZero(Minutes) + ":" + LeadingZero(Seconds);
	   			}


			TotalSeconds--;
			if (TotalSeconds >0) {
				setTimeout('Decrement()',1000);
			}
			else {
				location.reload(true);
			}
		}
	}
	function LeadingZero(timex) {

	    return (timex < 10) ? "0" + timex : + timex;

	}
	</script>
	<script>
	<%if !params[:action].eql?("show_matches")%>
	countdown();
	<%end%>
	</script>
</head>
<body class="main_top">
 	<div>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
		   	  <div class="container">
		           <h3 style="margin:0;padding:0">
		           <a class="brand" style="margin:0;padding:0" href="/11amcafe">
		        	<img src="/assets/11amcafetoplogo.png" width="413" height="22">
		            </a>
		        	</h3>
					<!--<ul class="nav pull-right">
						<li><a href="/11amcafe"><i class="icon-home icon-white"></i>　トップ</a></li>
		            </ul>-->
				</div>  
			</div> 
		</div>

	    <div>
			<%= yield %>
		</div>

	</div>

	<div class="container" id="footer" style="margin-top:40px;">
	<div class="row" style="margin-left:110px;">



				<ul>
					<li><a href="/11amcafe/company">　運営会社</a></li>
	                <li><a href="/11amcafe/policy">　利用規約</a></li>
	                <li><a href="/11amcafe/privacy">　プライバシー</a></li>
	                <li><a href="/11amcafe/help">　ヘルプ</a></li>

	            </ul>
	            <span class="copyright">Copyright © 11amcafe All Rights Reserved</span>


	</div>  <!--row-->
	</div> <!--container-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="assets/bootstrap.min.js"></script>

	<script src="assets/jquery.ah-placeholder.js"></script>
	<!-- ↓ah-placeholder.js の実行↓ -->
	<script>
	$(function() {
	  $('[placeholder]').ahPlaceholder({
	    placeholderColor : 'silver',
	    placeholderAttr : 'placeholder',
	    likeApple : true
	  });
	});
	</script>
</html>

