<!DOCTYPE html>
<html lang="ja">
<head>
		<meta charset="UTF-8">
	<title>11amCafe - 私たちの一期一会-</title>

		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>

	  <script>
	var TotalSeconds = <%= @time_to_rematch ? @time_to_rematch : 24*60*60%>;
	function countdown() {
		setTimeout('Decrement()',1000);
	}
	function Decrement() {
		if (document.getElementById) {
			timex = document.getElementById("Time");
				var Seconds = TotalSeconds;

				    var Days = Math.floor(Seconds / 86400);
				    Seconds -= Days * 86400;

				    var Hours = Math.floor(Seconds / 3600);
				    Seconds -= Hours * (3600);

				    var Minutes = Math.floor(Seconds / 60);
				    Seconds -= Minutes * (60);
				if ((typeof (timex.textContent) != "undefined")){
	      			timex.textContent = LeadingZero(Hours) + ":" + LeadingZero(Minutes) + ":" + LeadingZero(Seconds);
			    }
			    else{
	      			timex.innerText = LeadingZero(Hours) + ":" + LeadingZero(Minutes) + ":" + LeadingZero(Seconds);
	   			}


			TotalSeconds--;
			if (TotalSeconds >0) {
				setTimeout('Decrement()',1000);
			}
			else {
				window.location.href='<%=welcome_path%>';
			}
		}
	}
	function LeadingZero(timex) {

	    return (timex < 10) ? "0" + timex : + timex;

	}
	</script>
	<script>
	<%if params[:action].eql?("show_matches") || params[:action].eql?("not_activated")%>
	countdown();
	<%end%>
	</script>
</head>
<body class="main_top">
<div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
	   	  <div class="container">
	           <h3 style="margin:0;padding:0">
	           <a class="brand" style="margin:0;padding:0" href="/11amcafe">
	        	<img src="/assets/11amcafetoplogo.png" width="413" height="22">
	            </a>
	        	</h3>

				<ul class="nav pull-right">
					<li><a href="/11amcafe"><i class="icon-home icon-white"></i>　カフェトップ</a></li>
	                 <li><a href="/members/help_l.html"><i class="icon-question-sign icon-white"></i>　ヘルプ</a></li>
					<li class="dropdown" id="menu1"><a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"><i class="icon-user icon-white"></i>　
	                プロフィール<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/members/edit_profile"><i class="icon-user"></i>　基本情報</a></li>
						<li><a href="/members/add_user_information"> <i class="icon-camera"></i>　キーワード＆写真</a></li>
						<!--<li><a href="#"> <i class="icon-book"></i>　履歴</a></li>-->
						<%if !session[:active]%>
						<li class="divider"></li>
						<li><a href="/members/validation"> <i class="icon-warning-sign"></i>　アドレス認証</a></li>
						<li><a href="/members/customer_support"> <i class="icon-envelope"></i>　フィードバック</a></li>
						<%else%>
						<li class="divider"></li>
						<li><a href="/members/customer_support"> <i class="icon-envelope"></i>　フィードバック</a></li>
						<%end%>
						<li class="divider"></li>
						<li><a href="/members/logout"> <i class="icon-cog"></i>　ログアウト</a></li>
					</ul>
	                </li>
	            </ul>
			</div>  
		</div> 
	</div>
			
		

	    <div>
			<%= yield %>
		</div>
</div>



		<div class="container" id="footer" style="margin-top:40px;">
		<div class="row" style="margin-left:110px;">



					<ul>
						<li><a href="/members/company_l">　運営会社</a></li>
		                <li><a href="/members/policy_l">　利用規約</a></li>
		                <li><a href="/members/privacy_l">　プライバシー</a></li>
		                <li><a href="/members/help_l">　ヘルプ</a></li>

		            </ul>
		            <span class="copyright">Copyright © 11amcafe All Rights Reserved</span>


		</div>  <!--row-->
		</div> <!--container-->



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>

	<script src="/assets/jquery.ah-placeholder.js"></script>
	<script>
	$(function() {
	  $('[placeholder]').ahPlaceholder({
	    placeholderColor : 'silver',
	    placeholderAttr : 'placeholder',
	    likeApple : true
	  });
	});
	$(document).ready(function() {
	    $(".imgLiquid").imgLiquid();
	});
	</script>
	</body>
	</html>